<template>
  <nav
    class="shadow-md bg-ipnavbg sticki bg-opacity-30 backdrop-filter backdrop-blur-lg z-20"
  >
    <div class="flex justify-between py-3 items-center md:px-10">
      <div>
        <button>
          <router-link
            to="/"
            class="text-white flex items-center gap-2 text-xs font-bold"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
              />
            </svg>
            НҮҮР ХУУДАС</router-link
          >
        </button>
      </div>
      <div class="sticky top-0 bg-ipnavbg rounded-full shadow-xl backdrop-blur-md backdrop-brightness-150 md:backdrop-filter-none">
        <router-link to="/">
          <img src="~/assets/logo.png" class="h-8" />
        </router-link>
      </div>

      <div class="flex rounded-xl shadow-xl bg-white p-2 w-auto">
        <div v-if="user" class="hidden md:visible text-white ml-2">
          {{ user.identity }}
        </div>
        <button class="button button-outlined mx-2 text-ipnavbg">
          <router-link :to="user ? '/user' : '/login'">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5 align-middle"
            >
              <path
                fillRule="evenodd"
                d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
                clipRule="evenodd"
              />
            </svg>
          </router-link>
        </button>
        <button
          class="button button-outlined mx-2 text-ipnavbg"
          data-ripple-dark="true"
        >
          <router-link to="/cart">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5"
            >
              <path
                fillRule="evenodd"
                d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 004.25 22.5h15.5a1.875 1.875 0 001.865-2.071l-1.263-12a1.875 1.875 0 00-1.865-1.679H16.5V6a4.5 4.5 0 10-9 0zM12 3a3 3 0 00-3 3v.75h6V6a3 3 0 00-3-3zm-3 8.25a3 3 0 106 0v-.75a.75.75 0 011.5 0v.75a4.5 4.5 0 11-9 0v-.75a.75.75 0 011.5 0v.75z"
                clipRule="evenodd"
              />
            </svg>
          </router-link>
        </button>

        <button
          v-if="user"
          @click="logout()"
          class="button button-outlined mx-2 text-ipnavbg"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fillRule="evenodd"
              d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
              clipRule="evenodd"
            />
          </svg>
        </button>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  components: {},
  data: function () {
    return {
      search: "",
      featuredMenu: [
        {
          name: "super sale",
          route: "/popular",
          icon: "star",
        },
        {
          name: "brand",
          route: "/brands",
          icon: "local_offer",
        },
        {
          name: "back to school",
          route: "/collection/back-to-school",
          icon: "school",
        },
        {
          name: "агуулах чөлөөлөх",
          route: "/category/62f1e657d64b09eee35dcf6f",
          icon: "stars",
        },
      ],
    };
  },

  methods: {
    onEnter() {
      this.$router.push({
        path: "/search",
        query: { q: this.search },
      });
    },
    async logout() {
      await this.$auth.logout();
    },
  },
  computed: {
    user() {
      return this.$auth.user;
    },
  },
};
</script>
<style>
.sticki {
  position: fixed;
  top: 0;
  width: 100%;
}
</style>
