<template>
  <div class="h-28">
    <div class="shadow-xs bg-white z-30 fixed w-screen">
      <!-- <Sidebar :isOpen="isOpen" /> -->
      <div
        class="
          bg-primary
          justify-between
          p-2
          hidden
          md:flex
          shadow-sm
          md:px-52
          py-2
        "
      >
        <div class="flex justify-center gap-5">
          <button
            class="text-white flex justify-center gap-5 text-sm font-semibold"
          >
            <router-link class="flex justify-center items-center gap-2" to="/"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-telephone h-3 w-3"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
                />
              </svg>
              <p>7749-9999</p></router-link
            >
          </button>
          <button
            class="text-white flex justify-center gap-5 text-xs font-semibold"
          >
            <router-link class="flex justify-center items-center gap-2" to="/"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-envelope h-3 w-3"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
                />
              </svg>
              <p>info@smartdeal.mn</p></router-link
            >
          </button>
        </div>
        <button
          class="text-white flex justify-center gap-5 text-xs font-semibold"
        >
          <router-link class="flex justify-center items-center gap-2" to="/"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-envelope h-3 w-3"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"
              />
            </svg>
            <p>Хаяг байршил</p></router-link
          >
        </button>
      </div>

      <div class="flex justify-between py-3 items-center bg-opacity-30 md:px-52">

        <div class="flex justify-between items-center">
        <!-----------------------------SIDE LIST ODOOHONDOO HIDDEN------------------------------------>
          <button @click="isOpen = !isOpen" class="hidden md:hidden text-primary">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-list h-7 w-7"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
              />
            </svg>
          </button>

          <router-link to="/" class="hidden md:flex">
            <img src="https://smartstore.mn/c7e07f0b44d4f330a70de57edfcba81d.svg" class="h-8"/>
          </router-link>
        </div>

        <div class="flex md:hidden">
          <router-link to="/">
            <img src="https://smartstore.mn/c7e07f0b44d4f330a70de57edfcba81d.svg" class="h-8 ml-20"/>
          </router-link>
        </div>

        <div class="w-1/2 justify-center hidden md:flex">
          <div class="relative w-full">
            <div class=" flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
              <svg
                aria-hidden="true"
                class="w-5 h-5 text-primary dark:text-gray-400"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                ></path>
              </svg>
            </div>

            <input
              type="search"
              v-model="search"
              class="
                block
                shadow-md
                p-3
                pl-10
                w-full
                text-sm
                rounded-md
                focus:shadow-lg
              "
              v-on:keyup.enter="onEnter"
              placeholder="Эндээс бүхнийг хайж олох ..."
            />
          </div>
        </div>

        <div class="flex justify-center items-center rounded-xl md:gap-3 shadow-md md:shadow-lg bg-white p-2 md:w-auto md:ml-4 mx-2 md:mx-0">
          <div
            v-if="user"
            class="text-primary ml-2 text-xs md:text-base hidden md:flex"
          >
            {{ user.displayName ? user.displayName : user.identity }}
          </div>
          <button class="flex button button-outlined mx-2 text-primary">
            <router-link :to="user ? '/user' : '/login'">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-5 h-5 align-middle"
              >
                <path
                  fillRule="evenodd"
                  d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
                  clipRule="evenodd"
                />
              </svg>
            </router-link>
          </button>
          <button
            class="flex button button-outlined mx-2 text-primary"
            data-ripple-dark="true"
          >
            <router-link to="/cart">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-5 h-5"
              >
                <path
                  fillRule="evenodd"
                  d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 004.25 22.5h15.5a1.875 1.875 0 001.865-2.071l-1.263-12a1.875 1.875 0 00-1.865-1.679H16.5V6a4.5 4.5 0 10-9 0zM12 3a3 3 0 00-3 3v.75h6V6a3 3 0 00-3-3zm-3 8.25a3 3 0 106 0v-.75a.75.75 0 011.5 0v.75a4.5 4.5 0 11-9 0v-.75a.75.75 0 011.5 0v.75z"
                  clipRule="evenodd"
                />
              </svg>
            </router-link>
          </button>

          <button
            v-if="user"
            @click="logout()"
            class="button button-outlined md:mx-2 text-primary"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="w-5 h-5"
            >
              <path
                fillRule="evenodd"
                d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
                clipRule="evenodd"
              />
            </svg>
          </button>
        </div>
      </div>

      <div class="w-full justify-center flex md:hidden shadow-md">
        <div class="relative">
          <div
            class="
              flex
              absolute
              inset-y-0
              left-0
              items-center
              pointer-events-none
            "
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5 text-primary dark:text-gray-400 ml-2"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              ></path>
            </svg>
          </div>
          <input
            type="search"
            v-model="search"
            class="
              block
              p-3
              pl-10
              w-screen
              text-sm text-gray-900
              bg-gray-50
              focus:ring-blue-500 focus:border-blue-500
              dark:bg-gray-700
              dark:border-gray-600
              dark:placeholder-gray-400
              dark:text-white
              dark:focus:ring-blue-500
              dark:focus:border-blue-500
            "
            v-on:keyup.enter="onEnter"
            placeholder="Эндээс бүхнийг хайж олох ..."
          />
        </div>
      </div>
      <div
        class="
          hidden
          bg-loader
          w-screen
          md:flex
          justify-center
          md:px-52
          py-1
          gap-5
        "
      >
        <button
          v-for="link in navi"
          :key="link"
          class="p-2 text-sm hover:text-md"
        >
          <a :href="link.link" class="uppercase text-primary hover:underline"
            ><p>{{ link.title }}</p>
          </a>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from "../layout/mobilesidebar.vue";
import Categoryside from "../layout/categoryside.vue";
export default {
  components: {
    Sidebar,
    Categoryside,
  },
  data: function () {
    return {
      navi: [
        {
          title: "Бүх урамшуулал",
          link: "https://smartstore.mn/all-promo",
        },
        {
          title: "ШИНЭЭР ИРСЭН",
          link: "https://smartstore.mn/products?sort=new",
        },
        {
          title: "ХЯМДРАЛТАЙ",
          link: "https://smartstore.mn/products?sort=sale",
        },
        {
          title: "УРЬДЧИЛСАН ЗАХИАЛГА",
          link: "https://smartstore.mn/brand/apple",
        },
        {
          title: "ЛИЗИНГИЙН ҮЙЛЧИЛГЭЭ",
          link: "https://smartstore.mn/leasing",
        },
        {
          title: "СМАРТ МЕДИА",
          link: "https://smartstore.mn/media",
        },
        {
          title: "БҮХ БРЭНД",
          link: "https://smartstore.mn/brands",
        },
      ],
      isOpen: false,
      categories: [],

      search: "",
      featuredMenu: [
        {
          name: "super sale",
          route: "/popular",
          icon: "star",
        },
        {
          name: "brand",
          route: "/brands",
          icon: "local_offer",
        },
        {
          name: "back to school",
          route: "/collection/back-to-school",
          icon: "school",
        },
        {
          name: "агуулах чөлөөлөх",
          route: "/category/62f1e657d64b09eee35dcf6f",
          icon: "stars",
        },
      ],
    };
  },

  methods: {
    // setParent(parentid) {
    //   :product="product"
    // },
    onEnter() {
      this.$router.push({
        path: "/search",
        query: { q: this.search },
      });
      // this.$router.go("/search?q=" + this.search);
    },
    async logout() {
      await this.$auth.logout();
    },
    soligd(category) {
      if (!category.isActive) {
        category.isActive = true;
      } else {
        category.isActive = false;
      }
    },
  },
  computed: {
    user() {
      return this.$auth.user;
    },
  },
  async fetch() {
    let responseCategory = await this.$axios.post("/api/auth/category", {
      featured_menu: true,
      status: 1,
    });
    this.categories = responseCategory.data;

    for (let category of this.categories) {
      category.isActive = false;
      let response = await this.$axios.post(
        "/api/auth/category/subcategory/" + category._id,
        { status: 1 }
      );
      Object.assign(category, { subcategory: response.data });
    }
  },
};
</script>
<style></style>
