<template>
  <div>
    <div class="">
      <div class="hidden md:flex">
        <img
          src="https://www.khanbank.com/assets/logos/khanbank-mn.png"
          class="h-10"
        />
      </div>
      <div class="my-2">
        <p class="hidden md:flex">
          Та Гар утасны камераа гаргаад дараах QR-кодыг уншуулаарай эсвэл Та
          Хаан Банк аппликейшны Зээл хэсгийн Зээл авах дээр дарж Лизигийн зээл
          хэсэгт нэхэмжлэлийн дугаараа орууларай.
        </p>
        <div v-if="transaction" class="flex">
          Нэхэмжлэхийн дугаар:
          <div class="font-bold">{{ transaction.data.number }}</div>
        </div>
      </div>
    </div>
    <!-- {{ transaction.data }} -->
    <div class="flex">
      <div class="hidden md:grid">
        <qrcode-vue
          v-if="transaction"
          :value="transaction.data.qr"
          :size="qrConfig.size"
        ></qrcode-vue>
        <p class="text-center animate-bounce">Камераар уншуулах</p>
      </div>

      <div class="grid md:hidden my-10">
        <p class="animate-bounce">Банкны апп ашиглах</p>
        <a
          class="shadow-lg rounded-lg flex justify-center"
          :href="transaction.data.invoice"
          v-if="transaction"
        >
          <img class="w-20 h-20" src="https://qpay.mn/q/logo/khanbank.png"
        /></a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    transaction: {
      type: Object,
    },
  },
  data: function () {
    return {
      qrConfig: {
        size: 600,
      },
    };
  },
};
</script>
