<template>
  <div class="flex flex-col items-center">
    <qrcode-vue :value="qr" :size="qrConfig.size"></qrcode-vue>
    <img
      class="w-48"
      src="http://meridamongolia.mn/images/corps/a89b7-pocket-zero.png"
    />
    <div class="text-xs mt-2">
      Та Pocket-ийн аппликейшн дээр дараах QR кодыг уншуулна уу
    </div>
  </div>
</template>

<script>
export default {
  props: {
    qr: {
      type: String,
    },
  },

  data: function () {
    return {
      qrConfig: {
        size: 400,
        value: "Helloworld",
      },
    };
  },
};
</script>
