<template>
  <div>
    <img
      v-if="transaction.data"
      class="w-72"
      :src="'data:image/png;base64, ' + transaction.data.qr_image"
    />
  </div>
</template>

<script>
export default {
  props: {
    transaction: {
      type: Object,
    },
  },
};
</script>
