<template>
  <div class="grid grid-cols-4 gap-2 md:my-20 md:px-52">
    <Steps class="col-span-4 hidden md:flex" :page="'cart'" />

    <div class="col-span-4 md:col-span-4 rounded-sm shadow-lg bg-white">
      <div class="grid grid-cols-3">
        <div class="col-span-3 md:col-span-2 p-4">
          <div class="font-roboto font-thin text-lg">Алхам 1</div>
          <div class="font-roboto text-3xl font-extrabold">Миний сагс</div>

          <div class="mt-6">
            <CartItem
              v-for="product in allCart.products"
              :key="product._id"
              :product="product"
              :cart="allCart"
              :currency="allCart.currency"
            />
          </div>
        </div>
        <div
          class="col-span-3 md:col-span-1 bg-gray rounded-3xl p-4"
          v-if="allCart.products"
          v-show="allCart.products.length > 0"
        >
          <OrderSummary
            :page="'cart'"
            :currency="allCart.currency"
          ></OrderSummary>

          <button
            @click="onCheckout"
            class="bg-primary rounded py-1 uppercase text-white w-full"
          >
            Захиалах
          </button>
        </div>
      </div>

      <div
        v-if="allCart.products"
        v-show="allCart.products.length == 0"
        class="p-4 flex flex-col justify-center items-center"
      >
        <img src="https://i.imgur.com/O2rBGGb.png" class="w-32" />
        <div>Сагс хоосон байна</div>

        <div class="mt-2 flex">
          <router-link
            class="bg-primary text-white py-2 px-4 rounded shadow"
            to="/"
            >Нүүр хуудас</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import OrderSummary from "../../components/widgets/checkout/ordersummary.vue";
import CartItem from "../../components/widgets/checkout/cartitem.vue";
import Steps from "../../components/widgets/checkout/steps";
export default {
  components: {
    OrderSummary,
    CartItem,
    Steps,
  },
  methods: {
    onCheckout() {
      if (this.total <= 500000) {
        this.$toast.error(
          "Та Хаан Банкны Онлайн зээлийн үйлчилгээнд хамрагдахыг хүсвэл 500,000₮-ээс дээш бараа сагслах шаардлагатай."
        );
        return;
      }
      this.$router.push("/checkout/payment");
    },
  },
  computed: {
    ...mapGetters("cart", ["allCart", "subtotal", "total", "you_save"]),
  },
};
</script>
