<template>
  <div class="p-5 overflow-auto h-auto my-3">
    <div v-for="order in orders" :key="order._id">
      <Ordercard :order="order" />
    </div>
  </div>
</template>

<script>
import Detail from "../../pages/order/_id/detail.vue";
import Ordercard from "../widgets/cards/ordercard.vue";
export default {
  data: function () {
    return {
      orders: [],
    };
  },
  methods: {
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " ₮";
    },
  },
  async fetch() {
    let response = await this.$axios.post("/api/auth/order/me", {
      user: this.$auth.user._id,
    });
    this.orders = response.data;
  },
  created() {
    this.user = Object.assign({}, this.$auth.user);
  },
  components: { Detail, Ordercard },
};
</script>

