<template>
  <div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-10 px-10">
      <div class="col-span-2 md:col-span-1 mt-3 md:py-10">
        <label class="relative block my-5">
          <span class="absolute inset-y-0 left-0 flex items-center pl-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              className="w-6 h-6"
              class="h-5"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
              />
            </svg>
          </span>
          <input
            class="
              placeholder:italic placeholder:text-slate-400
              block
              bg-white
              w-full
              border border-slate-300
              rounded-md
              py-2
              pl-9
              pr-3
              shadow-sm
              focus:outline-none
              focus:border-sky-500
              focus:ring-sky-500
              focus:ring-1
              sm:text-sm
            "
            placeholder="Овогоо оруулна уу"
            v-model="user.lastname"
            type="text"
          />
        </label>
        <label class="relative block my-5">
          <span class="absolute inset-y-0 left-0 flex items-center pl-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              className="w-6 h-6"
              class="h-5"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
              />
            </svg>
          </span>
          <input
            class="
              placeholder:italic placeholder:text-slate-400
              block
              bg-white
              w-full
              border border-slate-300
              rounded-md
              py-2
              pl-9
              pr-3
              shadow-sm
              focus:outline-none
              focus:border-sky-500
              focus:ring-sky-500
              focus:ring-1
              sm:text-sm
            "
            placeholder="Нэрээ оруулна уу"
            v-model="user.firstname"
            type="text"
          />
        </label>
        <label class="relative block my-5">
          <span class="absolute inset-y-0 left-0 flex items-center pl-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
              />
            </svg>
          </span>
          <input
            class="
              placeholder:italic placeholder:text-slate-400
              block
              bg-white
              w-full
              border border-slate-300
              rounded-md
              py-2
              pl-9
              pr-3
              shadow-sm
              focus:outline-none
              focus:border-sky-500
              focus:ring-sky-500
              focus:ring-1
              sm:text-sm
            "
            placeholder="zuunbileg@boom.mn"
            type="text"
            v-model="user.identity"
          />
        </label>
      </div>
      <div class="col-span-2 md:col-span-1 mt-3 md:py-10">
        <label class="relative block my-5">
          <span class="absolute inset-y-0 left-0 flex items-center pl-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
              />
            </svg>
          </span>
          <input
            class="
              placeholder:italic placeholder:text-slate-400
              block
              bg-white
              w-full
              border border-slate-300
              rounded-md
              py-2
              pl-9
              pr-3
              shadow-sm
              focus:outline-none
              focus:border-sky-500
              focus:ring-sky-500
              focus:ring-1
              sm:text-sm
            "
            placeholder="*********"
            type="text"
          />
        </label>
        <label class="relative block my-5">
          <span class="absolute inset-y-0 left-0 flex items-center pl-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"
              />
            </svg>
          </span>
          <input
            class="
              placeholder:italic placeholder:text-slate-400
              block
              bg-white
              w-full
              border border-slate-300
              rounded-md
              py-2
              pl-9
              pr-3
              shadow-sm
              focus:outline-none
              focus:border-sky-500
              focus:ring-sky-500
              focus:ring-1
              sm:text-sm
            "
            placeholder="*********"
            type="text"
          />
        </label>
      </div>
    </div>

    <div class="flex justify-center mb-10">
      <button
        @click="onUpdate"
        class="border p-2 rounded-lg bg-primary text-white shadow-2xl"
      >
        Хадгалах
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      select: "info",
    };
  },
  methods: {
    onUpdate() {},
  },
  computed: {},
  created() {
    this.user = Object.assign({}, this.$auth.user);
  },
};
</script>

