<template>
  <div class="rounded-lg bg-white shadow-lg my-6 p-4">
    <div class="flex justify-center">
      <!-- <span class="material-icons text-white px-2">{{ category.icon }} </span> -->
      <div class="text-primary font-bold text-xl uppercase font-roboto">
        {{ category.name }}
      </div>
    </div>

    <div v-if="isFetched" class="grid grid-cols-2 md:grid-cols-6 gap-4 mt-2">
      <Card
        v-for="product in products"
        :key="product._id"
        :product="product"
        :category="category"
        :currency="currency"
      />
    </div>
    <div v-if="!isFetched" class="grid grid-cols-2 md:grid-cols-6 gap-4 mt-2">
      <div v-for="card in 6" :key="card" class="col-span-1 rounded-lg">
        <div class="h-40 md:h-56 bg-loader animate-pulse rounded-lg"></div>
      </div>
    </div>

    <div class="flex justify-center mt-4 items-center">
      <router-link
        :to="{ name: 'category-id', params: { id: category._id } }"
        class="flex items-center px-5 py-1 rounded-md bg-primary text-white hover:shadow-lg"
      >
        Бүгдийг үзэх
      </router-link>
    </div>
  </div>
</template>

<script>
import Card from "./cards/card.vue";
export default {
  components: { Card },
  props: {
    category: {
      type: Object,
    },
  },
  data: function () {
    return {
      isFetched: false,
      products: [],
      currency: {},
    };
  },
  async fetch() {
    if (this.category.elevenst_id) {
      let responseEcommerce = await this.$axios.post(
        "/api/auth/ecommerce/category11st",
        {
          category_id: this.category.elevenst_id,
          average_weight: this.category.average_weight,
          shipping_method: this.category.shipping_method,
          pageSize: 6,
          sort: "A",
        }
      );
      this.products.push(...responseEcommerce.data["products"]);
      this.currency = responseEcommerce.data["currency"];

      this.isFetched = true;
    }
  },
};
</script>
