<template>
  <div>
    <Pagebanner :image="collection.image" />
    <ListFeature
      :name="collection.name ? collection.name : 'Бүтээгдэхүүн'"
      :products="collection.products"
      :currency="currency"
      :stats="stats"
    />
  </div>
</template>

<script>
import Pagebanner from "../../../components/widgets/page/pagebanner.vue";
import ListFeature from "../../../components/widgets/page/pagelistfeature.vue";

export default {
  components: {
    Pagebanner,
    ListFeature,
  },
  data: function () {
    return {
      products: [],
      currency: {},
      collection: {},
      stats: {},
    };
  },
  methods: {},
  async fetch() {
    let response = await this.$axios.post("/api/auth/group/slug", {
      slug: this.$route.params.slug,
    });
    if (response.status == 200) {
      this.collection = response.data.collection;
      this.currency = response.data.currency;
    }
  },
};
</script>