<template>
  <div class="container mx-auto p-4 bg-white md:mt-10">
    <Breadcrump :breadcrump="breadcrump" />
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5" v-if="isFetched">
      <!-- Image -->
      <div>
        <DetailImage :images="product.images" />
      </div>
      <!-- Detail -->
      <div
        v-if="haragd"
        class="
          md:-ml-16
          h-fit
          w-screen
          flex
          justify-center
          items-center
          absolute
          z-40
        "
      >
        <Chart class="shadow-3xl" />
      </div>
      <div class="flex justify-center">
        <DetailInfo
          v-if="product"
          :product="product"
          :suggestProducts="suggestProducts"
          :currency="currency"
        />
      </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 my-10" v-if="!isFetched">
      <div class="bg-loader animate-pulse h-96"></div>
      <!-- Detail -->
      <div class="px-4 pb-4 grid gap-5">
        <div class="bg-loader animate-pulse h-28"></div>
        <div class="bg-loader animate-pulse h-28"></div>
        <div class="bg-loader animate-pulse h-28"></div>
      </div>
    </div>

    <div class="mt-2" v-if="isFetched">
      <div class="text-lg font-roboto font-bold">Үзүүлэлтүүд</div>
      <div class="bg-gray w-1/2 p-4">
        <table>
          <tr class="" v-for="property in product.properties" :key="property">
            <td class="text-sm">{{ property.presentation }}</td>
            <td class="py-1 pl-8 text-sm">{{ property.value }}</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- <p class="text-2xl my-10">Төстэй бараанууд</p>
    <homecards class="md:-mx-52" /> -->
  </div>
</template>

<script>
import DetailImage from "../../../components/Product/DetailImage.vue";
import DetailInfo from "../../../components/Product/DetailInfo.vue";
import Breadcrump from "../../../components/widgets/page/Breadcrump.vue";
import Chart from "../../../components/chart.vue";
import Homecards from "../../../components/smart/homecards.vue";

export default {
  components: {
    DetailImage,
    DetailInfo,
    Breadcrump,
    Chart,
    Homecards,
  },

  data: function () {
    return {
      product: {},
      currency: {},
      suggestProducts: [],
      breadcrump: [],
      isFetched: false,
      haragd: false,
    };
  },

  methods: {},

  async fetch() {
    let response = await this.$axios.post(
      "/api/auth/public/product/" + this.$route.params.slug,
      {
        client: "smartstore",
      }
    );
    this.product = response.data["product"];
    this.currency = response.data["currency"];

    if (this.product.slug.split("-").length > 0) {
      let responseSuggest = await this.$axios.post(
        "/api/auth/public/product/searchslug",
        { search: this.product.slug.split("-")[0] }
      );
      this.suggestProducts = responseSuggest.data["products"];
    }
    this.isFetched = true;
  },
  head() {
    let product = this.product;
    let image = "";
    if (product && product.image) {
      image = product.image.medium;
    }
    return {
      title: product.en_name,
      meta: [
        {
          hid: "description",
          name: "description",
          content: product.presentation_name,
        },
        {
          hid: "og:image",
          property: "og:image",
          content: image,
        },
      ],
    };
  },
};
</script>
