<template>
  <div>
    <ListSlider
      :name="brand.name"
      :products="products"
      :currency="currency"
      @updateSort="onSort"
      :stats="stats"
    />
  </div>
</template>

<script>
import ListSlider from "../../../components/widgets/page/pagelistfeature.vue";
export default {
  data: function () {
    return {
      products: [],
      currency: {},
      stats: {},
      brand: { name: "" },
      sort: "sale",
    };
  },
  methods: {
    async onSort(value) {
      let response = await this.$axios.post("/api/auth/public/product", {
        brand: this.$route.params.slug,
        sort: value,
      });
      if (response.status == 200) {
        this.products = response.data["products"];
        this.currency = response.data["currency"];
      }
    },
  },
  async fetch() {
    let response = await this.$axios.post("/api/auth/public/product", {
      brand: this.$route.params.slug,
    });
    if (response.status == 200) {
      this.products = response.data["products"];
      this.currency = response.data["currency"];
    }

    let responseBrand = await this.$axios.post("/api/auth/brand/slug", {
      slug: this.$route.params.slug,
    });
    if (response.status == 200) {
      this.brand = responseBrand.data;
    }
  },

  async asyncData({ params, $axios }) {
    let responseStats = await $axios.post("/api/auth/public/product/stats", {
      brand: params.slug,
    });
    let stats = {};
    if (responseStats.status == 200) {
      if (responseStats.data.length === 0) {
        stats = null;
      } else {
        stats.selling_price =
          responseStats.data[0].average_you_selling_price.$numberDecimal;
        stats.you_save = responseStats.data[0].average_you_save.$numberDecimal;
        stats.you_save_rate = responseStats.data[0].average_you_save_rate;
      }
    }
    return { stats };
  },

  components: {
    ListSlider,
  },
};
</script>