<template>
  <div class="flex justify-center px-10 py-2">
    <div class="flex flex-wrap py-2 px-2 md:mx-8 max-w-7xl w-full">
      <div
        class="
          font-sans font-semibold
          md:font-bold
          text-2xl
          md:text-4xl
          capitalize
          w-full
          text-center
          font-roboto
        "
      >
        Брэндүүд
      </div>

      <div class="grid gap-4 w-full mt-8 lg:grid-cols-4">
        <router-link
          v-for="brand in brands"
          :key="brand._id"
          :to="{ name: 'brands-slug', params: { slug: brand.slug } }"
        >
          <div
            class="
              bg-white
              rounded
              flex
              items-center
              p-4
              h-20
              md:w-full
              hover:text-indigo-800 hover:shadow-lg
            "
          >
            <img :src="brand.logo" class="flex w-16" />
            <div class="flex-1 ml-4">
              <div class="capitalize font-roboto font-bold">
                {{ brand.name }}
              </div>
            </div>

            <div class="flex-none bg-indigo-800 rounded-lg hover:inline">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="#fff"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13 7l5 5m0 0l-5 5m5-5H6"
                />
              </svg>
            </div>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      brands: [],
    };
  },
  async fetch() {
    let response = await this.$axios.post("/api/auth/brand", {
      verified: true,
    });
    if (response.status == 200) {
      this.brands = response.data;
    }
  },
  components: {},
};
</script>
