<template>
  <div class="flex justify-center items-center">
    <div class="h-1/3 w-1/3 rounded-lg bg-white shadow-lg">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png"
        alt=""
      />
      <img
        class="bg-pocket"
        src="http://meridamongolia.mn/images/corps/a89b7-pocket-zero.png"
        alt=""
      />
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
