<template>
  <div class="p-4 bg-white rounded-2xl">
    <div class="grid grid-cols-2">
      <div class="col-span-2 md:col-span-1 p-20">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png"
          alt=""
        />
        <p class="text-center">Та дээрх QR кодыг уншуулна уу</p>
      </div>
      <div class="col-span-2 md:col-span-1 shadow-lg rounded-lg p-4">
        <div class="mt-6 h-full flex flex-col justify-between">
          <div>
            <div class="bg-gray p-3 text-sm rounded font-roboto">
              Topsale.mn - ий төлбөрийн систем тестийн шатанд явж байгаа тул
              хэрэглэгч та “Худалдаа Хөгжлийн банк” - ны дансанд төлбөрөө
              байршуулснаар таны захиалга баталгаажихыг анхаарна уу.
            </div>

            <div class="my-4">
              <div class="flex text-lg mx-2">
                Нийт дүн:
                <div class="font-bold mx-2 text-lg">999999$</div>
              </div>

              <div class="flex text-lg mx-2">
                Захиалгийн дугаар:
                <div class="font-bold mx-2 text-lg">end order number</div>
              </div>
              <div class="flex text-lg mx-2">
                Дансны дугаар:
                <div class="font-bold mx-2 text-lg">435025961</div>
              </div>
              <div class="flex text-lg mx-2">
                Дансны нэр:
                <div class="font-bold mx-2 text-lg">Бүүм Дийл ХХК</div>
              </div>

              <hr class="my-2" />

              <div class="bg-gray p-3 text-sm rounded font-roboto">
                Хэрэглэгч та төлбөрөө баталгаажуулахдаа “Худалдаа Хөгжлийн банк”
                - ний 435025961 (Бүүм Дийл ХХК) дансанд НИЙТ ДҮНГ байршуулна.
                Ингэхдээ гүйлгээний утга хэсэгт Захиалгийн дугаар ийг оруулна уу
              </div>

              <div class="p-3 text-sm font-roboto">
                Та төлбөрөө төлөхдөө дансны дугаар, үнийн дүнг зөв оруулна уу.
              </div>
            </div>
          </div>

          <div class="font-roboto text-sm mb-5">
            Та захиалах товчин дээр дарснаар манай
            <router-link class="text-primary font-bold" to="/static/faq"
              >Үйлчилгээний нөхцлийг</router-link
            >
            зөвшөөрч байна
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {},
};
</script>

<style></style>
