<template>
  <div class="flex bg-white justify-center w-full my-2 rounded-2xl">
    <div class="mx-8 my-2">
      <div class="flex">
        <div class="font-bold">Нийт:</div>
        {{ formatNumber(totalCount) }} бүтээгдэхүүн
      </div>
      <div class="items-center w-full md:py-12 py-4 content-center">
        <div
          class="
            font-sans font-semibold
            text-appleblack
            md:font-bold
            text-2xl
            md:text-4xl
            capitalize
            w-full
            text-center
            font-roboto
          "
          v-if="name"
        >
          {{ name }}
        </div>
      </div>

      <!-- Product List -->
      <div class="col-span-5 md:col-span-4">
        <div
          class="
            grid
            xl:grid-cols-5
            lg:grid-cols-4
            md:grid-cols-3
            grid-cols-2
            gap-4
          "
          ref="messagesContainer"
        >
          <Card
            v-for="(product, index) in products"
            :key="index"
            :product="product"
            :currency="currency"
          ></Card>

          <div class="w-full text-center" v-intersect="onIntersect"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Card from "../cards/smartcard.vue";

export default {
  props: {
    name: {
      type: String,
    },
    products: {
      type: Array,
    },
    currency: {
      type: Object,
    },
    stats: {
      type: Object,
    },
    count: {
      type: Number,
    },
    category: {
      type: Object,
    },
    totalCount: {
      type: Number,
    },
  },
  components: {
    Card,
  },
  methods: {
    onChangeSort(event) {
      this.$emit("updateSort", event.target.value);
    },
    onChangeFilter() {
      let query = {
        price: this.filter.price,
      };
      if (this.filter.sale.length == 0) {
        this.$emit("updateFilter", query);
        return;
      } else {
        let filter = {
          min_sale: 100,
          max_sale: 0,
        };
        for (let sale of this.filter.sale) {
          if (filter.min_sale > sale.min) {
            filter.min_sale = sale.min;
          }
          if (filter.max_sale < sale.max) {
            filter.max_sale = sale.max;
          }
        }

        Object.assign(query, filter);
        this.$emit("updateFilter", query);
      }
    },
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "₮";
    },
    formatNumber(number) {
      let val = (number / 1).toFixed(0).replace(".");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    onIntersect() {
      setTimeout(() => {
        this.$emit("loadmore");
      }, 500);
    },
  },
  created() {},
};
</script>

<style>
.slider {
  width: 200px;
}
</style>
