<template>
  <div class="my-2">
    <img
      class="rounded-3xl"
      :src="image ? image : `https://i.imgur.com/AvbZHfx.jpeg`"
    />
  </div>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
    },
  },
};
</script>