<template>
  <div class="rounded-2xl bg-white my-2">
    <div class="flex flex-col p-10">
      <div>
        <ul class="font-roboto mx-4">
          <li
            v-for="category in categories"
            :key="category._id"
            class="flex flex-col justify-between"
          >
            <button
              v-if="category"
              @click="soligd(category)"
              class="my-4 flex justify-between items-center gap-5 hover:text-primary"
              :class="category.isActive ? ' text-primary' : ' text-appleblack'"
            >
              <router-link
                class="text-left text-sm"
                :to="{ name: 'category-id', params: { id: category._id } }"
                >{{ category.name }}</router-link
              >
            </button>

            <!-- <ul
              :class="category.isActive ? 'block' : 'hidden'"
              class="ease-in-out transition-all duration-300"
            >
              <li
                v-for="subcategory in category.subcategory"
                :key="subcategory.name"
                class="text-gray100 hover:text-primary focus:opacity-100 pl-5 text-sm my-2"
              >
                <router-link
                  :to="{ name: 'category-id', params: { id: subcategory._id } }"
                  >{{ subcategory.name }}</router-link
                >
              </li>
            </ul> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isActive: false,
    isOpen: {
      type: Boolean,
    },
    categoryparent: {
      type: Object,
    },
  },
  data: function () {
    return {
      categories: [],
    };
  },
  async fetch() {
    let response = await this.$axios.post(
      "/api/auth/category/subcategory/" + this.$route.params.id,
      { status: 1 }
    );
    this.categories = response.data;
  },
  computed: {
    user() {
      return this.$auth.user;
    },
  },
  methods: {
    soligd(category) {
      if (!category.isActive) {
        category.isActive = true;
      } else {
        category.isActive = false;
      }
    },
  },
};
</script>
