<template>
  <aside
    class="p-5 transform top-0 right-0 w-64 shadow-lg bg-white fixed h-full overflow-auto ease-in-out transition-all duration-300 z-30 rounded-l-xl"
    :class="!isOpen ? 'translate-x-full' : '-translate-x-0'"
  >
    <div class="close">
      <button
        class="absolute top-0 right-0 mt-4 mr-4 text-appleblack"
        @click="isOpen = !isOpen"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <span @click="isOpen = !isOpen" class="flex w-full items-center p-4">
    </span>
    <div>
      <img
        src="http://meridamongolia.mn/images/corps/a89b7-pocket-zero.png"
        alt=""
      />
      <div class="grid gap-10 my-10">
        <div
          class="flex justify-center items-center gap-3"
          v-for="i in 6"
          :key="i"
        >
          <div class="p-3 rounded-full bg-white shadow-lg">
            {{ i }}
          </div>
          <div class="text-center">
            <p>{{ i }}-р төлөлт :</p>
            <p class="font-bold text-pocket text-lg">
              {{ formatPrice(parseFloat(product.price) / 6, product.currency) }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </aside>
</template>

<script>
export default {
  props: {
    isOpen: {
      type: Boolean,
    },
    categoryparent: {
      type: Object,
    },
    product: {
      type: Object,
    },
    currency: {
      type: Object,
    },
  },
  methods: {
    formatPrice(value, currency) {
      let currentVal = parseFloat(this.currency[currency]) * parseInt(value);
      let val = (currentVal / 1).toFixed(0).replace(".");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "₮";
    },
  },
};
</script>
