<template>
  <aside
    class="p-5 transform top-0 left-0 w-64 bg-white fixed h-full overflow-auto ease-in-out transition-all duration-300 z-30 rounded-r-xl"
    :class="isOpen ? 'translate-x-0' : '-translate-x-full'"
  >
    <div class="close">
      <button class="absolute top-0 right-0 mt-4 mr-4" @click="isOpen = false">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>

    <div>
      <div class="rounded-full w-24 mx-auto mt-2 border-8 border-white"></div>
      <div class="text-center mt-2 text-3xl font-medium" v-if="user">
        {{ user.displayName ? user.displayName : user.firstname }}
      </div>
      <div class="text-center mt-2 font-light text-sm" v-if="user">
        {{ user.identity }}
      </div>
    </div>

    <span @click="isOpen = false" class="flex w-full items-center p-4 border-b">
    </span>

    <ul class="font-roboto mx-4">
      <li>
        <router-link
          to="/"
          @click="isOpen = false"
          class="my-4 inline-block text-appleblack hover:text-primary"
          >Нүүр хуудас</router-link
        >
      </li>
      <li
        v-for="category in categories"
        :key="category._id"
        class="flex flex-col justify-between"
      >
        <button
          @click="soligd(category)"
          class="my-4 flex justify-between items-center gap-5 hover:text-primary"
          :class="category.isActive ? ' text-primary' : ' text-appleblack'"
        >
          {{ category.name }}
        </button>

        <ul
          :class="category.isActive ? 'block' : 'hidden'"
          class="ease-in-out transition-all duration-300"
        >
          <li
            v-for="subcategory in category.subcategory"
            :key="subcategory.name"
            class="text-gray100 hover:text-primary focus:opacity-100 pl-5 text-sm my-2"
          >
            <router-link
              :to="{ name: 'category-id', params: { id: subcategory._id } }"
              >{{ subcategory.name }}</router-link
            >
          </li>
        </ul>
      </li>

      <li>
        <router-link
          to="/login"
          @click="isOpen"
          class="my-8 w-full text-center font-semibold cta inline-block bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded text-black"
          >Нэвтрэх</router-link
        >
      </li>
    </ul>

    <div class="follow">
      <div class="social flex space-x-5 justify-center">
        <a href="https://www.facebook.com/www.topsale.mn">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fab"
            data-icon="facebook-f"
            class="h-5 w-5 fill-current text-gray-600"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              fill="currentColor"
              d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
            ></path>
          </svg>
        </a>

        <a href="mailto:support@boom.mn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
            />
            <path
              d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
            />
          </svg>
        </a>
        <a href="tel:72277027">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-5 h-5"
          >
            <path
              fillRule="evenodd"
              d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
              clipRule="evenodd"
            />
          </svg>
        </a>
      </div>
    </div>
  </aside>
</template>

<script>
export default {
  props: {
    isActive: false,
    isOpen: {
      type: Boolean,
    },
  },
  data: function () {
    return {
      categories: [],
    };
  },
  async fetch() {
    let responseCategory = await this.$axios.post("/api/auth/category", {
      featured_menu: true,
      status: 1,
    });
    this.categories = responseCategory.data;

    for (let category of this.categories) {
      category.isActive = false;
      let response = await this.$axios.post(
        "/api/auth/category/subcategory/" + category._id,
        { status: 1 }
      );
      Object.assign(category, { subcategory: response.data });
    }
  },
  computed: {
    user() {
      return this.$auth.user;
    },
  },
  methods: {
    soligd(category) {
      if (!category.isActive) {
        category.isActive = true;
      } else {
        category.isActive = false;
      }
    },
  },
};
</script>
