<template>
  <div class="grid grid-cols-4 gap-2 md:my-20 md:px-52">
    <Steps class="col-span-4 hidden md:flex" :page="'summary'" />
    <div
      class="col-span-4 md:col-span-4 rounded-sm shadow-lg bg-white"
      v-if="order"
    >
      <div class="grid grid-cols-3">
        <div class="col-span-3 md:col-span-2 p-4">
          <div class="font-roboto font-thin text-lg">Алхам 3</div>
          <div class="font-roboto text-3xl font-extrabold">Төлбөр</div>

          <div class="mt-6">
            <!-- {{ order.payment_transaction[0] }} -->
            <div class="flex w-full">
              <Pocket
                v-if="order.payment_method === 'pocket'"
                :qr="order.payment_transaction[0].data.qr"
              />

              <Qpay
                v-if="order.payment_method === 'qpay'"
                class="w-2/4"
                :transaction="order.payment_transaction[0]"
              />

              <Khanbank
                v-if="order.payment_method === 'khanbank'"
                :transaction="order.payment_transaction[0]"
              />

              <div class="w-2/4 flex flex-col justify-center">
                <div class="flex text-sm md:text-base mx-2">
                  Нийт дүн:
                  <div class="font-bold mx-2">
                    {{ formatPrice(order.final_total) }}
                  </div>
                </div>

                <div class="flex text-sm md:text-base mx-2">
                  Захиалгийн дугаар:
                  <div class="font-bold md:mx-2">
                    {{ order.order_number }}
                  </div>
                </div>
                <div class="flex text-sm md:text-base mx-2">
                  Дансны дугаар:
                  <div class="font-bold mx-2">435025961</div>
                </div>
                <div class="flex text-sm md:text-base mx-2">
                  Дансны нэр:
                  <div class="font-bold mx-2">Бүүм Дийл ХХК</div>
                </div>
                <div class="flex text-sm md:text-base mx-2">
                  Банк:
                  <div class="font-bold mx-2">Худалдаа Хөгжлийн банк</div>
                </div>
                <div
                  class="
                    bg-gray
                    p-3
                    text-sm
                    rounded
                    font-roboto
                    hidden
                    md:block
                  "
                >
                  Хэрэглэгч та төлбөрөө баталгаажуулахдаа дансанд НИЙТ ДҮНГ
                  байршуулна. Ингэхдээ гүйлгээний утга хэсэгт Захиалгийн дугаар
                  ийг оруулна уу
                </div>
              </div>
            </div>

            <div
              class="grid grid-cols-4 gap-3 my-3"
              v-if="order.payment_method === 'qpay'"
            >
              <div
                :key="bank.name"
                v-for="(bank, index) of order.payment_transaction[0].data.urls"
                v-show="index < 4"
              >
                <a :href="bank.link">
                  <img
                    class="rounded-2xl shadow-lg w-20 h-20"
                    :src="bank.logo"
                  />
                  <div class="text-sm font-roboto mt-2">{{ bank.name }}</div>
                </a>
              </div>
            </div>

            <div class="my-4">
              <hr class="my-2" />

              <div class="font-roboto text-sm">
                Та захиалах товчин дээр дарснаар манай
                <router-link
                  target="_blank"
                  class="text-primary font-bold"
                  to="/static/faq"
                  >Үйлчилгээний нөхцлийг</router-link
                >
                зөвшөөрч байна
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CartItem from "../../../components/widgets/checkout/cartitem.vue";
import Steps from "../../../components/widgets/checkout/steps";
import Pocket from "../../../components/payment/pocket.vue";
import Qpay from "../../../components/payment/qpay.vue";
import Khanbank from "../../../components/payment/khanbank.vue";
export default {
  data: function () {
    return {
      order: {},
    };
  },
  methods: {
    goCheckout() {
      this.$router.push("/checkout/payment");
    },

    formatPrice(value) {
      let val = (parseFloat(value) / 1).toFixed(0).replace(".");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "₮";
    },
  },
  async fetch() {
    let response = await this.$axios.post("/api/auth/order/findme", {
      // user: this.$auth.user._id,
      id: this.$route.params.id,
    });
    this.order = response.data;
  },
  components: {
    Steps,
    CartItem,
    Pocket,
    Qpay,
    Khanbank,
  },
};
</script>
