<template>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-5 my-2 md:my-10">
    <router-link
      :to="card.link"
      class=""
      v-for="card in cards"
      :key="card.title"
    >
      <div
        class="flex flex-col bg-primary shadow-lg rounded-2xl p-8 items-center"
      >
        <div
          class="relative rounded-full bg-secondary text-white w-12 h-12 md:w-20 md:h-20 shadow-2xl"
        >
          <img
            :src="card.icon"
            class="absolute w-21 h-21 w-12 h-12 md:w-20 md:h-20"
          />
        </div>
        <div
          class="text-white align-center text-roboto text-base md:text-xl font-bold mt-2"
        >
          {{ card.title }}
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      cards: [
        {
          title: "1-25% хүртэлх",
          icon: "https://cdn-icons-png.flaticon.com/512/528/528166.png",
          link: "/product/filter?minrate=0&maxrate=25",
          color: "#554994",
        },
        {
          title: "25-50% хүртэлх",
          icon: "https://cdn-icons-png.flaticon.com/512/1628/1628879.png",
          link: "/product/filter?minrate=25&maxrate=50",
          color: "#554994",
        },
        {
          title: "50-75% хүртлэх",
          icon: "https://cdn-icons-png.flaticon.com/512/1864/1864499.png",
          link: "/product/filter?minrate=50&maxrate=75",
          color: "#554994",
        },
        {
          title: "75% дээш",
          icon: "https://cdn-icons-png.flaticon.com/512/5776/5776743.png",
          link: "/product/filter?minrate=75&maxrate=100",
          color: "#554994",
        },
      ],
    };
  },
  async fetch() {
    let response = await this.$axios.post("/api/auth/public/product", {
      sort: "sale",
      limit: 10,
      skip: 0,
    });
    if (response.status == 200) {
      this.products = response.data["products"];
    }
  },
};
</script>
