<template>
  <div>
    <div class="relative slide my-2 md:my-8">
      <div
        class="
          carousel-indicators
          absolute
          bottom-0
          flex
          h-24
          w-full
          justify-center
          items-center
        "
      >
        <ol class="z-50 flex w-4/12 justify-center">
          <li
            v-for="(img, i) in banner.items"
            :key="i"
            @click="selectIndicator(i)"
            class="md:w-4 md:h-4 rounded-full cursor-pointer mx-2"
            :class="`${active === i ? 'bg-primary' : ''}`"
          ></li>
        </ol>
      </div>
      <div class="carousel-inner relative overflow-hidden w-full">
        <div
          v-for="(img, i) in banner.items"
          :id="`slide-${i}`"
          :key="i"
          :class="`${active === i ? 'active' : 'left-full'}`"
          class="
            relative
            carousel-item
            inset-0
            w-full
            transform
            transition-all
            duration-500
            ease-in-out
          "
        >
          <img
            class="block w-full rounded-2xl"
            :src="img.image"
            alt="First slide"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      banner: {},
      active: 0,
    };
  },
  async fetch() {
    let response = await this.$axios.post("/api/auth/banner/code", {
      code: "home",
    });
    if (response.status == 200) {
      this.banner = response.data;
    }
  },
  methods: {
    selectIndicator(i) {
      this.active = i;
    },
  },
  mounted() {
    let i = 0;
    setInterval(() => {
      if (i > this.banner.items.length - 1) {
        i = 0;
      }
      this.active = i;
      i++;
    }, 20000);
  },
};
</script>

<style scoped>
.left-full {
  left: -100%;
}

.carousel-item {
  float: left;
  position: relative;
  display: block;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
}

.carousel-item.active {
  left: 0;
}
</style>
