<template>
  <div>
    <ListFeature
      :name="'Онцлох '"
      :products="products"
      :currency="currency"
      @updateSort="onSort"
      @loadmore="loadmore"
      :stats="stats"
    />
  </div>
</template>


<script>
import ListFeature from "../../components/widgets/page/pagelistfeature.vue";
export default {
  components: {
    ListFeature,
  },
  data: function () {
    return {
      products: [],
      currency: {},
      category: {},
      sort: "sale",
      isLoad: false,
      limit: 30,
      skip: 0,
      stats: {},
    };
  },
  methods: {
    async onSort(value) {
      let response = await this.$axios.post(
        "/api/auth/public/product/category",
        {
          category: this.$route.params.id,
          sort: value,
          limit: this.limit,
          skip: this.skip,
        }
      );
      this.skip = this.skip + this.limit;
      this.sort = value;
      if (response.status == 200) {
        this.products = response.data["products"];
        this.currency = response.data["currency"];
      }
    },
    async loadmore() {
      if (!this.isLoad) {
        this.isLoad = true;
        return;
      }
      if (this.products.length !== 0) {
        let response = await this.$axios.post("/api/auth/public/product", {
          category: this.$route.params.id,
          sort: this.sort,
          limit: this.limit,
          skip: this.skip,
        });
        this.skip = this.skip + this.limit;
        if (response.status == 200) {
          let products = response.data["products"];
          for (let product of products) {
            this.products.push(product);
          }
        }
      }
    },
  },
  async fetch() {
    let response = await this.$axios.post("/api/auth/public/product", {
      limit: this.limit,
      skip: this.skip,
      feature: true,
      sort: "earliest",
    });
    if (response.status == 200) {
      this.skip = this.skip + this.limit;
      this.products = response.data["products"];
      this.currency = response.data["currency"];
    }

    let responseCategory = await this.$axios.post(
      "/api/auth/category/" + this.$route.params.id,
      {}
    );
    if (response.status == 200) {
      this.category = responseCategory.data;
    }
  },
};
</script>