<template>
  <div class="bg-white m-5 rounded-lg h-auto pt-10 px-2 md:px-16">
    <div class="mx-5 flex justify-between">
      <div>
        <p class="text-lg md:text-3xl flex flex-row justify-start">
          Захиалгын дугаар
        </p>
        <h1
          class="
            text-md
            md:text-3xl
            flex flex-row
            justify-start
            font-bold
            text-red
          "
        >
          #{{ order.order_number }}
        </h1>
      </div>
      <div>
        <p class="text-md md:text-xl flex flex-row justify-start">
          Захиалгын огноо
        </p>
        <h1 class="text-xl flex flex-row justify-start font-bold text-red">
          {{ $moment(order.createdAt).format("YYYY-MM-DD HH:mm") }}
        </h1>
      </div>
    </div>
    <div class="m-5 flex justify-center md:-mb-16 md:mt-20">
      Захиалгын дэлгэрэнгүй мэдээлэл
    </div>
    <div
      class="
        md:m-16
        p-10
        bg-gray300
        shadow-lg
        grid grid-cols-3
        gap-5
        items-center
      "
    >
      <div class="col-span-3 md:col-span-1">
        <p>
          Захиалагч
          <span class="font-bold"
            >{{ order.firstname }} {{ order.lastname }}</span
          >
        </p>
        <br />
        <p>Хүргэлтын хаяг:</p>
        <p class="font-semibold">
          {{ order.city ? order.city.name : "" }}
          {{ order.district ? order.district.name : "" }}
          {{ order.horoo ? order.horoo.name : "" }} {{ order.address }}
        </p>
      </div>
      <div class="flex col-span-3 md:col-span-1 justify-end">
        <p>
          Утас: <span class="font-bold">{{ order.phone_number }}</span>
        </p>
      </div>
      <div class="flex col-span-3 md:col-span-1 justify-end">
        <p>
          Цахим хаяг: <span class="font-bold text-sm">{{ email }}</span>
        </p>
      </div>
    </div>
    <div>
      <p class="text-lg pt-10 flex justify-center">Таны захиалсан бараа</p>
    </div>
    <div class="p-5 overflow-auto h-fill -mt-6 md:my-3">
      <div v-for="product in order.products" :key="product._id">
        <OrderProductCard :order="order" :product="product" />
      </div>
    </div>
  </div>
</template>

<script>
import OrderProductCard from "../../../components/widgets/cards/orderproductcards.vue";
export default {
  data() {
    return {
      date: "2022/09/25",
      register: "ZUNA0925",
      mode: "Цуцлагдсан",
      price: "1000$",
      zuna: "zuna",
      location: "Сүхбаатар дүүрэг 1р хороо Park residense 8/3",
      phone: "89007861",
      email: "zuunbileg_batsukh@yahoo.com",
      order: {},
    };
  },
  components: { OrderProductCard },
  async fetch() {
    let response = await this.$axios.post("/api/auth/order/find", {
      id: this.$route.params.id,
    });
    this.order = response.data;
  },
};
</script>