<template>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full bg-white">
            <tbody>
              <tr v-for="row in clothesMan" :key="row" class="border-b">
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
                  v-for="col in row.value"
                  :key="col"
                >
                  {{ col }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import clothesMan from "../static/chart";
export default {
  data() {
    return {
      clothesMan: clothesMan.clothesMan,
    };
  },
  methods: {},
};
</script>

<style></style>
