<template>
  <div class="w-screen">
    <img
      src="https://cdn5.shoppy.mn/img/139960/3584x0xwebp/storepay-head-banner.png?h=63b514cfc7d482f2529f7ca0a7d8d035db4ec9d7"
      alt=""
    />
  </div>
</template>

<script>
export default {};
</script>

<style></style>
