<template>
  <div class="grid grid-cols-2 md:grid-cols-6 gap-4 mt-2 md:px-52 px-2">
    <smartcard
      v-for="product in products"
      :key="product._id"
      :product="product"
      class="bg-white"
    />
  </div>
</template>

<script>
import smartcard from "../widgets/cards/smartcard.vue";
export default {
  props: {
    products: {
      type: Array,
    },
  },
  components: { smartcard },
};
</script>

<style></style>
