<template>
  <div class="grid grid-cols-6 gap-5 md:px-52 my-10 px-2">
    <router-link
      class="col-span-2 md:col-span-1"
      v-for="cate in 6"
      :key="cate"
      to="/"
    >
      <div
        class="rounded-2xl flex justify-center transform transition duration-300 hover:scale-102 relative shadow hover:shadow-lg"
      >
        <img
          class="rounded-2xl"
          src="https://i.imgur.com/jgKOUlc.png"
          alt=""
        /></div
    ></router-link>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
