<template>
  <div>
    <ListSlider
      :name="'Онцлох бүтээгдэхүүн'"
      :products="products"
      :currency="currency"
      :stats="stats"
    />
  </div>
</template>

<script>
import ListSlider from "../../components/widgets/page/pagelistfeature.vue";

export default {
  components: {
    ListSlider,
  },
  data: function () {
    return {
      products: [],
      currency: {},
      category: {},
      sort: "sale",
      isLoad: false,
      limit: 30,
      skip: 0,
      stats: {},
    };
  },
  methods: {
    async onSort(value) {
      let filter = {
        min_sale: this.$route.query.minrate,
        max_sale: this.$route.query.maxrate,
      };
      let response = await this.$axios.post(
        "/api/auth/public/product/category",
        {
          category: this.$route.params.id,
          sort: value,
          limit: this.limit,
          skip: this.skip,
          filter: filter,
        }
      );
      this.skip = this.skip + this.limit;
      this.sort = value;
      if (response.status == 200) {
        this.products = response.data["products"];
        this.currency = response.data["currency"];
      }
    },
    async loadmore() {
      if (!this.isLoad) {
        this.isLoad = true;
        return;
      }
      let filter = {
        min_sale: this.$route.query.minrate,
        max_sale: this.$route.query.maxrate,
      };
      if (this.products.length !== 0) {
        let response = await this.$axios.post("/api/auth/public/product", {
          category: this.$route.params.id,
          sort: this.sort,
          limit: this.limit,
          skip: this.skip,
          filter: filter,
        });
        this.skip = this.skip + this.limit;
        if (response.status == 200) {
          let products = response.data["products"];
          for (let product of products) {
            this.products.push(product);
          }
        }
      }
    },
  },
  async fetch() {
    let filter = {
      min_sale: this.$route.query.minrate,
      max_sale: this.$route.query.maxrate,
    };
    let response = await this.$axios.post("/api/auth/public/product", {
      category: this.$route.params.id,
      limit: this.limit,
      skip: this.skip,
      filter: filter,
    });
    if (response.status == 200) {
      this.skip = this.skip + this.limit;
      this.products = response.data["products"];
      this.currency = response.data["currency"];
    }
  },
  async asyncData({ params, $axios }) {
    let responseStats = await $axios.post("/api/auth/public/product/stats", {
      category: params.id,
    });
    let stats = {};
    if (responseStats.status == 200) {
      if (responseStats.data.length === 0) {
        stats = null;
      } else {
        stats.selling_price =
          responseStats.data[0].average_you_selling_price.$numberDecimal;
        stats.you_save = responseStats.data[0].average_you_save.$numberDecimal;
        stats.you_save_rate = responseStats.data[0].average_you_save_rate;
      }
    }
    return { stats };
  },
  head() {
    let category = this.category;
    let image = "";
    if (category && category.image) {
      image = category.image;
    }
    return {
      title: category.name,
      meta: [
        {
          hid: "description",
          name: "description",
          content: category.name,
        },
        {
          hid: "og:image",
          property: "og:image",
          content: image,
        },
      ],
    };
  },
};
</script>
