<template>
  <div class="grid grid-cols-4 gap-2 my-4 md:my-20 md:px-52">
    <Steps class="col-span-4 hidden md:flex" :page="'payment'" />

    <div class="col-span-4 md:col-span-4 rounded-sm shadow-lg bg-white">
      <div class="grid grid-cols-3">
        <div class="col-span-3 md:col-span-2 p-4">
          <div class="font-roboto font-thin text-lg">Алхам 2</div>
          <div class="font-roboto text-3xl font-extrabold">Хүргэлтийн хаяг</div>

          <div class="mt-6">
            <div class="grid gap-6 mb-6 md:grid-cols-2">
              <div>
                <label
                  for="Овог"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Овог</label
                >
                <input
                  type="text"
                  v-model="order.lastname"
                  class="bg-gray border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  placeholder="Овог"
                />
              </div>
              <div>
                <label
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Нэр</label
                >
                <input
                  type="text"
                  v-model="order.firstname"
                  class="bg-gray border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Нэр"
                />
              </div>
            </div>

            <div class="grid grid-cols-3 gap-3">
              <div>
                <label
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Хот / Аймаг *</label
                >
                <select
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  @change="onSelectCity()"
                  v-model="order.city"
                >
                  <option :value="city" v-for="city in cities" :key="city._id">
                    {{ city.name }}
                  </option>
                </select>
              </div>
              <div>
                <label
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Дүүрэг / Сум *</label
                >
                <select
                  @change="onSelectDisrict()"
                  v-model="order.district"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                  <option
                    v-for="district in districts"
                    :key="district._id"
                    :value="district"
                  >
                    {{ district.name }}
                  </option>
                </select>
              </div>
              <div>
                <label
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >Хороо / Баг *</label
                >
                <select
                  class="bg-gray border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  v-model="order.horoo"
                >
                  <option
                    :v-if="horoo._id"
                    v-for="horoo in horoos"
                    :key="horoo._id"
                    :value="horoo"
                  >
                    {{ horoo.name }}
                  </option>
                </select>
              </div>
            </div>

            <div class="my-4">
              <textarea
                id="message"
                rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Дэлгэрэнгүй хаяг..."
                v-model="order.address"
              ></textarea>
            </div>

            <div class="my-2">
              <label
                for="Овог"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Утасны дугаар</label
              >
              <input
                type="number"
                v-model="order.phone_number"
                class="bg-gray border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="Утасны дугаар"
              />
            </div>
          </div>

          <hr class="my-4" />

          <div class="grid grid-cols-1 gap-2">
            <div
              class="bg-white p-2 rounded"
              :class="
                order.payment_method == payment.name
                  ? 'bg-gray shadow-xl border-primary border-2 transform transition duration-300 hover:scale-102 relative  rounded-lg p-2 hover:shadow-lg overflow-hidden'
                  : ' hover:shadow-xl transform transition duration-300 hover:scale-102 relative shadow rounded-lg p-2 overflow-hidden'
              "
              @click="selectPaymentMethods(payment.name)"
              v-for="payment in payment_methods"
              :key="payment.name"
            >
              <div class="flex">
                <img :src="payment.logo" class="h-6" />
                <div class="ml-2">
                  <div class="text-sm font-roboto text-gray100">
                    {{ payment.short }}
                  </div>
                  <div class="font-roboto">{{ payment.title }}</div>
                </div>
              </div>

              <div class="bg-gray font-roboto text-xs p-2">
                {{ payment.description }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-3 md:col-span-1 bg-gray rounded-3xl p-4">
          <OrderSummary
            class="invisible md:visible"
            :page="'payment'"
            :currency="allCart.currency"
          ></OrderSummary>

          <button
            @click="goOrder"
            class="bg-primary rounded py-1 uppercase text-white w-full"
          >
            ЗЭЭЛ АВАХ
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { mapGetters } from "vuex";
import OrderSummary from "../../components/widgets/checkout/ordersummary.vue";
import CartItem from "../../components/widgets/checkout/cartitem.vue";
import Steps from "../../components/widgets/checkout/steps";

export default {
  middleware: "auth",
  data: function () {
    return {
      selected_city: null,
      selected_duureg: null,
      cities: [],
      districts: [],
      horoos: [],
      order: {
        firstname: "",
        lastname: "",
        phone_number: "",
        city: "",
        district: "",
        section: "",
        address: "",
        payment_method: "khanbank",
        final_total: 0,
        products: [],
        city: null,
        district: null,
        horoo: null,
      },
      payment_methods: [
        {
          name: "khanbank",
          title: "Цахим зээл",
          short: "Онлайн лизингийн үйлчилгээ",
          description:
            "Та Хаан Банкны аппликейшн ашиглан 5 минутанд зээл авах боломжтой",
          logo: "https://www.khanbank.com/assets/logos/khanbank-mn.png",
        },
      ],
    };
  },

  components: {
    OrderSummary,
    CartItem,
    Steps,
  },
  methods: {
    async onSelectCity() {
      let response = await this.$axios.post("/api/auth/address/district", {
        city: this.order.city,
      });
      this.districts = response.data;
    },
    async onSelectDisrict() {
      let response = await this.$axios.post("/api/auth/address/horoo", {
        district: this.order.district,
      });
      this.horoos = response.data;
    },
    goCheckout() {
      this.$router.push("/checkout/payment");
    },
    async goOrder() {
      this.$v.order.$touch();
      if (this.$v.order.$error) {
        this.$toast.error("Алдаа: Бүх талбаруудыг бөглөнө үү.");
        return;
      }

      for (let product of this.allCart.products) {
        let item = {};

        item.product_id = product.product._id;
        item.image = product.product.image;
        item.name = product.product.name;
        item.presentation_name = product.product.presentation_name;
        item.qty = product.qty;
        item.slug = product.product.slug;
        item.varient_id = product.varient_id;
        item.link = product.product.link;

        for (let varient of product.product.variants) {
          if (varient._id === product.varient_id) {
            item.varient = varient.name;
            item.price = varient.selling_price;
            item.total = varient.selling_price * product.qty;
            item.currency = varient.currency;
            item.final_price =
              varient.selling_price * this.allCart.currency[varient.currency];
            item.final_total =
              varient.selling_price *
              product.qty *
              this.allCart.currency[varient.currency];
            item.final_currency = this.allCart.currency[varient.currency];
            this.order.final_total =
              this.order.final_total + parseFloat(item.final_total);
          }
        }
        this.order.products.push(item);
      }

      this.order.user_token = this.allCart.user_token;
      this.order.user = this.$auth.user;
      this.order.order_type = "smartstore.mn";
      this.order.client = "smartstore";

      // let response = await this.$axios.post("/api/auth/order/new", this.order);

      // if (response.status == 201) {
      //   let carts = JSON.parse(JSON.stringify(this.allCart));
      //   Object.assign(carts, { products: [] });
      //   this.$store.dispatch("cart/removeProduct", carts);
      //   this.$toast.success("Таны захиалга амжилттай үүслээ.");
      //   this.$router.push({
      //     name: "checkout-id-summary",
      //     params: { id: response.data._id },
      //   });
      // } else {
      //   this.$toast.error("Алдаа гарлаа.");
      // }
    },
    selectPaymentMethods(name) {
      this.order.payment_method = name;
    },
  },
  async fetch() {
    let responseCity = await this.$axios.post("/api/auth/address/city", {});
    this.cities = responseCity.data;
  },
  computed: {
    ...mapGetters("cart", ["allCart", "subtotal", "total", "you_save"]),
  },
  validations: {
    order: {
      lastname: {
        required,
      },
      firstname: {
        required,
      },
      phone_number: {
        required,
      },
      address: {
        required,
      },
      payment_method: {
        required,
      },
    },
  },
};
</script>
