<template>
  <footer class="bg-primary h-auto md:px-52">
    <div
      class="flex justify-between lg:space-x-10 flex-col md:flex-row py-5 p-20 w-fit"
    >
      <div>
        <h2 class="mb-6 text-sm font-bold uppercase text-smartblu">
          SMARTSTORE.MN
        </h2>
        <ul class="text-footer text-sm font-semibold">
          <li class="mb-2">
            <!-- <a href="../../static/about" class="hover:text-white"
              >Хэрэглэх заавар</a
            > -->
          </li>
          <li class="mb-2">
            <a href="https://smartstore.mn/about-us" class="hover:text-white"
              >Бидний тухай</a
            >
          </li>
          <li class="mb-2">
            <a href="https://smartstore.mn/terms" class="hover:text-white"
              >Үйлчилгээний нөхцөл</a
            >
          </li>
          <li class="mb-2">
            <a href="https://smartstore.mn/policy" class="hover:text-white"
              >Нууцлалын бодлого</a
            >
          </li>
          <li class="mb-2">
            <a href="https://smartstore.mn/address" class="hover:text-white"
              >Салбарын байршил</a
            >
          </li>
          <li class="mb-2">
            <a href="https://smartstore.mn/welcome" class="hover:text-white"
              >Ажлын байр</a
            >
          </li>
          <li class="mb-2">
            <a href="https://smartstore.mn/nps" class="hover:text-white"
              >Санал хүсэлт</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-bold uppercase text-smartblu">
          БҮТЭЭГДЭХҮҮН ҮЙЛЧИЛГЭЭ
        </h2>
        <ul class="text-footer text-sm font-semibold">
          <li class="mb-2">
            <!-- <a href="../../static/about" class="hover:text-white"
              >Хэрэглэх заавар</a
            > -->
          </li>
          <li class="mb-2">
            <a
              href="https://smartstore.mn/mobile-phones"
              class="hover:text-white"
              >Ухаалаг утас</a
            >
          </li>
          <li class="mb-2">
            <a href="https://smartstore.mn/t/watch" class="hover:text-white"
              >Ухаалаг цаг</a
            >
          </li>
          <li class="mb-2">
            <a href="https://smartstore.mn/t/tablet" class="hover:text-white"
              >Ухаалаг таблет</a
            >
          </li>
          <li class="mb-2">
            <a href="https://smartstore.mn/t/computer" class="hover:text-white"
              >Компьютер</a
            >
          </li>
          <li class="mb-2">
            <a href="https://smartstore.mn/t/home" class="hover:text-white"
              >Ухаалаг гэр ахуй</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-6 text-sm font-bold uppercase text-smartblu">
          ТҮРГЭН ХОЛБООС
        </h2>
        <ul class="text-footer text-sm font-semibold">
          <li class="mb-2">
            <!-- <a href="../../static/about" class="hover:text-white"
              >Хэрэглэх заавар</a
            > -->
          </li>
          <li class="mb-2">
            <a
              href="https://smartstore.mn/products?sort=sale"
              class="hover:text-white"
              >Урамшуулалт хөтөлбөр</a
            >
          </li>
          <li class="mb-2">
            <a
              href="https://smartstore.mn/products?sort=sale"
              class="hover:text-white"
              >Шинэ загвар 2022</a
            >
          </li>
          <li class="mb-2">
            <a href="https://smartstore.mn/leasing" class="hover:text-white"
              >Зээлийн үйлчилгээ</a
            >
          </li>
          <li class="mb-2">
            <a
              href="https://smartstore.mn/onlineleasing"
              class="hover:text-white"
              >Цахим зээл 2.0 үйлчилгээ
            </a>
          </li>
          <li class="mb-2">
            <a href="https://smartstore.mn/t/home" class="hover:text-white"
              >Ухаалаг гэр ахуй</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h2 class="mb-2 text-sm font-bold uppercase text-smartblu">
          Цахим холбоосууд
        </h2>
        <ul class="text-footer-500 dark:text-footer-400">
          <li class="mb-2 flex gap-3">
            <a
              href="https://www.facebook.com/SmartStoreMobileCenter/"
              target="_blank"
              class="hover:text-white flex gap-3"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="white"
                class="bi bi-facebook"
                viewBox="0 0 16 16"
              >
                <path
                  d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"
                />
              </svg>
            </a>
            <a href="mailto:info@smartdeal.mn" class="hover:text-white flex"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="white"
                class="bi bi-envelope-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"
                /></svg
            ></a>
          </li>
          <li class="mb-2 text-sm font-bold uppercase text-smartblu">
            Холбоо барих
          </li>
          <li class="mb-2 text-footer">
            <a href="tel:77799999" class="hover:text-white">Утас: 7749-9999 </a>
          </li>
          <li class="mb-2 text-footer">
            <a href="info@smartdeal.mn" class="hover:text-white"
              >info@smartdeal.mn</a
            >
          </li>
          <li class="mb-2 text-footer">
            <a
              href="info@smartdeal.mn"
              class="hover:text-white flex justify-start gap-3"
              >Хаяг
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-pin-map-fill w-5 h-5 animate-bounce"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"
                />
                <path
                  fill-rule="evenodd"
                  d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"
                />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style></style>
