<template>
  <div class="p-2 md:p-10">
    <div class="grid grid-cols-4">
      <div class="col-span-4 md:col-span-1"></div>
      <div></div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
