<template>
  <div class="bg-background">
    <Navbar />
    <div class="min-h-screen">
      <nuxt />
    </div>
    <Footer class="bottom-0" />
  </div>
</template>

<script>
import Navbar from "../components/header/Navbar.vue";
import Footer from "../components/footer/footer.vue";
import Bottomtabs from "../components/footer/bottomtabs.vue";
export default {
  components: {
    Navbar,
    Footer,
    Bottomtabs,
  },
  methods: {
    async findCart(token) {
      this.$store.dispatch("cart/findCart", { token: token });
    },
    async createCart(token) {
      this.$store.dispatch("cart/createCart", { user_token: token });
    },
    uuid() {
      return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
        /[xy]/g,
        function (c) {
          var r = (Math.random() * 16) | 0,
            v = c == "x" ? r : (r & 0x3) | 0x8;
          return v.toString(16);
        }
      );
    },
    onEnter() {
      this.$router.push({
        path: "/search",
        query: { q: this.search },
      });
    },
  },
  async mounted() {
    try {
      if (this.$auth.state) {
        if (this.$auth.state.strategy == "facebook") {
        }
      }
      let token = localStorage.getItem("user_token");
      if (token) {
        try {
          this.findCart(token);
        } catch (e) {}
      } else {
        token = this.uuid();
        this.createCart(token);
        localStorage.setItem("user_token", token);
      }
    } catch (error) {
      this.error = error;
    }
  },
};
</script>
