<template>
  <div v-if="product" class="rounded-lg px-10">
    <div class="text-right mt-2">
      <router-link
        :to="{ name: 'brands-slug', params: { slug: product.brand.slug } }"
        class="text-lg text-appleblack capitalize font-roboto"
        v-if="product.brand"
      >
        {{ product.brand.name }}
      </router-link>
    </div>

    <div class="md:text-xl mt-2 text-lg font-roboto">
      {{ product.presentation_name }}
    </div>
    <div class="flex">
      <div class="text-sm">{{ product.en_name }}</div>
      <div class="text-sm ml-6">#{{ product.slug }}</div>
    </div>
    <div class="h-0.5 w-full bg-appleblack bg-opacity-10 my-5"></div>
    <div class="w-full flex justify-between items-center mx-auto mt-5">
      <div
        class="text-3xl text-appleblack mx-2 font-semibold"
        v-if="product.selling_price"
      >
        <p class="text-sm text-appleblack font-regular">Онлайн авах үнэ</p>

        <div v-if="varient" class="flex justify-center items-center">
          {{ formatPrice(varient.selling_price, product.currency) }}
          <div
            v-if="product.you_save_rate"
            class="text-sm font-medium text-red-500 rounded text-smartblu border-2 border-smartblu p-1 px-3 mx-2"
          >
            -{{ product.you_save_rate }}%
          </div>
        </div>
        <div v-if="!varient">
          {{ formatPrice(product.selling_price, product.currency) }}
          <div
            v-if="product.you_save_rate"
            class="text-sm font-medium text-red-500 rounded text-smartblu border-2 border-smartblu p-1 px-3 mx-2"
          >
            -{{ product.you_save_rate }}%
          </div>
        </div>
      </div>

      <div
        class="md:text-xl text-lg font-medium text-gray-darker text-right mx-4 font-price"
        v-if="product.you_save_rate"
      >
        <p class="text-sm text-appleblack font-thin opacity-70">Анхны үнэ</p>
        <p class="text-3xl text-appleblack opacity-70 font-price">
          {{ formatPrice(product.price, product.currency) }}
        </p>
      </div>
    </div>
    <div class="h-0.5 w-full bg-appleblack bg-opacity-10 my-5"></div>

    <!-- Varient  -->

    <!-- <div v-if="product.option_type === null || product.variants.length === 1">
      <label
        class="block mb-2 text-sm font-bold text-gray-900 dark:text-gray-400"
        >Сонголт</label
      >
      <div class="flex justify-center gap-5">
        <select
          class="
            bg-gray-50
            border
            text-gray-900 text-sm
            rounded-lg
            focus:ring-blue-500
            block
            w-full
            p-2.5
            dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white
            bg-white
            border-white
            focus:border-primary
            shadow-lg
          "
          v-model="varient"
          placeholder="Сонголтууд"
        >
          <option
            v-for="variant of product.variants"
            :key="variant._id"
            :value="variant"
          >
            {{ variant.name }}
          </option>
        </select>
        <button
          @click="haragd = !haragd"
          class="p-2 shadow-lg"
          :class="
            haragd
              ? 'bg-primary text-white rounded-xl'
              : 'bg-white text-primary rounded-full'
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="bi bi-question-diamond h-6 w-6"
            viewBox="0 0 16 16"
          >
            <path
              d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"
            />
            <path
              d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"
            />
          </svg>
        </button>
      </div>
    </div>

    <div v-if="product.option_type !== null">
      <ExtraVariant
        v-if="product.variants.length > 1"
        :varient="varient"
        :variants="product.variants"
        :option_type="product.option_type"
        @selectedVarient="onSelectVarient"
      />
    </div> -->

    <div class="grid grid-cols-6 gap-5 my-10">
      <!-- <div class="border-primary shadow-md border">
        <img
          src="https://cdn3.shoppy.mn/spree/images/1461882/mini/z_flip_4_purple_1.png"
          alt=""
        />
      </div> -->
      <router-link
        :to="{
          name: 'product-slug',
          params: { slug: prod.slug },
        }"
        v-for="prod in suggestProducts"
        :key="prod"
        class="rounded-sm shadow-md hover:border hover:border-primary"
        :class="
          prod.slug == product.slug ? 'border-primary shadow-md border' : ''
        "
      >
        <img v-if="prod.image" :src="prod.image.small" alt="" />
      </router-link>
    </div>

    <div class="h-0.5 w-4/5 bg-appleblack bg-opacity-10 my-5"></div>

    <div class="w-full bg-bggray rounded-md flex px-4 py-3 items-center justify-between cursor-default">
      <div class="flex items-center">
        <img class="rounded h-10" src="https://i.imgur.com/fCdnmXD.png?1" alt="khanbank">
        <p class="ml-2 text-sm leading-4 text-appleblack">Та зээлийн нөхцөлөөр уг барааг авах боломжтой.<br><span class="font-semibold text-black">powered by Khan Bank</span></p>
      </div>
      <svg class="h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
    </div>
    
    <div class="w-full bg-bgyellow rounded-md flex px-4 py-3 items-center justify-between cursor-default mt-4">
      <div class="flex items-center">
        <img class="rounded h-9" src="https://img.icons8.com/color/512/cardboard-box.png" alt="khanbank">
        <p class="ml-3 text-sm leading-4 text-appleblack">Хүргэлтийн нөхцөл<br>Бэлэн бараа <span class="font-semibold text-red">24 цагт</span> хүргэгдэнэ</p>
      </div>
    </div>

    <!-- Buy -->
    <div v-if="haragd" class="md:-ml-16 h-fit flex justify-center items-center">
      <Chart class="shadow-lg" />
    </div>
    <div class="flex flex-row items-center justify-between mx-auto gap-5">
      <div class="inline-flex rounded-md shadow-md mt-3 md:mt-8" role="group">
        <button
          type="button"
          @click="onMinusQty()"
          class="py-2 px-4 text-md font-bold text-gray-900 bg-white rounded-l-sm"
        >
          -
        </button>
        <div class="bg-appleblack bg-opacity-30 w-px my-2"></div>
        <input class="text-center w-12 rounded-sm" v-model="order.qty" />
        <div class="bg-appleblack bg-opacity-30 w-px my-2"></div>
        <button
          type="button"
          @click="onAddQty()"
          class="py-2 px-4 text-md font-bold text-gray-900 bg-white rounded-r-sm"
        >
          +
        </button>
      </div>

      <button
        class="w-full md:mt-8 mt-4 flex justify-center items-center gap-5 rounded-sm text-sm font-bold content-center uppercase py-3 px-4 shadow-lg"
        @click="onAddCart"
        :class="saved ? 'bg-white text-primary' : 'bg-primary text-white'"
      >
        <div>САГСАНД НЭМЭХ</div>
        <svg
          v-if="!saved"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="bi bi-bag-plus-fill h-5 w-5"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"
          />
        </svg>
        <svg
          v-if="saved"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="bi bi-bag-check-fill h-5 w-5"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"
          />
        </svg>
      </button>
    </div>
    <!--
    <div class="mt-6 p-2 bg-gray-50 flex items-center rounded-md text-primary">
      <div class="p-2 shadow-lg rounded-full">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="bi bi-truck h-7 w-7"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
          />
        </svg>
      </div>
      <div
        class="p-4 text-sm font-semibold font-roboto text-appleblack"
        v-if="startDeliveryTime"
      >

        Таны гарт {{ startDeliveryTime.getMonth() + 1 }} сарын
        {{ startDeliveryTime.getDate() }}-аас
        {{ endDeliveryTime.getMonth() + 1 }} сарын
        {{ endDeliveryTime.getDate() }}-ны хооронд хүргэгдэнэ.
      </div>
    </div> -->

    <div class="mt-4">
      <!-- <div
        class="flex mt-2 justify-between items-center bg-gray-50 rounded p-2"
      >
        <div class="flex items-center gap-5 text-primary">
          <div class="p-2 rounded-full shadow-lg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-globe h-7 w-7"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"
              />
            </svg>
          </div>
          <div class="text-sm font-semibold font-roboto text-appleblack">
            Таны бараа сонгосон бараа Солонгос улсад байна
          </div>
        </div>
        <div class="text-center">
          <div class="text-sm">Үлдэгдэл</div>
          <div class="text-secondary">{{ product.stock }}</div>
          <div class="bg-yellow-500"></div>
        </div>
      </div> -->
      <!-- <div class="grid gap-5 my-10">
        <div
          class="
            flex
            items-center
            justify-between
            bg-loader
            p-5
            rounded-lg
            shadow-md
          "
          @click="isOpen = !isOpen"
        >
          <div
            class="text-appleblack text-sm font-roboto"
            v-if="product.selling_price"
          >
            Эсвэл та
            <span class="font-semibold font-price text-base text-gray-500">{{
              getStorePay(product.selling_price, product.currency)
            }}</span
            >-өөр 6 хуваан төлөх боломжтой.
          </div>

          <img
            src="https://pocket.mn/_nuxt/img/pocket-logo-black.1295461.png"
            class="w-auto h-5"
          />
        </div>
        <div
          class="
            flex
            items-center
            justify-between
            bg-loader
            p-5
            rounded-lg
            shadow-md
          "
          @click="isOpen = !isOpen"
        >
          <div
            class="text-appleblack text-sm font-roboto"
            v-if="product.selling_price"
          >
            Эсвэл та
            <span class="font-semibold font-price text-base text-gray-500">{{
              getStorePay(product.selling_price, product.currency)
            }}</span
            >-өөр 6 хуваан төлөх боломжтой.
          </div>

          <img
            src="https://pocket.mn/_nuxt/img/pocket-logo-black.1295461.png"
            class="w-auto h-5"
          />
        </div>
        <div
          class="
            flex
            items-center
            justify-between
            bg-loader
            p-5
            rounded-lg
            shadow-md
          "
          @click="isOpen = !isOpen"
        >
          <div
            class="text-appleblack text-sm font-roboto"
            v-if="product.selling_price"
          >
            Эсвэл та
            <span class="font-semibold font-price text-base text-gray-500">{{
              getStorePay(product.selling_price, product.currency)
            }}</span
            >-өөр 6 хуваан төлөх боломжтой.
          </div>

          <img
            src="https://pocket.mn/_nuxt/img/pocket-logo-black.1295461.png"
            class="w-auto h-5"
          />
        </div>
      </div>
      <Coolmobilesidebar
        :isOpen="isOpen"
        :product="product"
        :currency="currency"
      /> -->
    </div>
  </div>
</template>

<script>
import DetailDescription from "../Product/ProductDescription.vue";
import ExtraVariant from "../Product/ExtraVariant.vue";
import { mapGetters } from "vuex";
import Coolmobilesidebar from "../layout/coolmobilesidebar.vue";
export default {
  props: {
    product: {
      type: Object,
      required: true,
    },
    currency: {
      type: Object,
      required: true,
    },
    suggestProducts: {
      type: Array,
    },
  },
  data: function () {
    return {
      isOpen: false,
      varient: null,
      order: {
        qty: 1,
      },
      saved: false,
      haragd: false,
    };
  },
  components: {
    DetailDescription,
    ExtraVariant,
    Coolmobilesidebar,
  },
  created() {
    if (this.product.variants.length == 1) {
      this.varient = this.product.variants[0];
    }
  },
  methods: {
    func() {
      const targetEl = document.getElementById("tooltipContent");

      const triggerEl = document.getElementById("tooltipButton");

      const options = {
        placement: "bottom",
        triggerType: "hover",
        onHide: () => {},
        onShow: () => {},
      };

      tooltip.show();

      tooltip.hide();
    },
    async onAddCart() {
      if (this.isEmpty(this.varient)) {
        if (this.product.variants.length == 1) {
          this.varient = this.product.variants[0];
        } else {
          this.$toast.error("Та төрлөө сонгоно уу?");
          return;
        }
      }

      let data = JSON.parse(JSON.stringify(this.allCart));

      let include = false;
      for (let product of data.products) {
        if (product.varient_id == this.varient._id) {
          product.qty = product.qty + this.order.qty;
          include = true;
        }
      }

      if (!include) {
        data.products.push({
          product: this.product,
          varient_id: this.varient._id,
          qty: this.order.qty,
        });
      }
      this.$store.dispatch("cart/addCart", data);
      this.saved = !this.saved;

      this.$router.push("/cart");
    },
    onSelectVarient(varient) {
      this.varient = varient;
    },
    onAddQty() {
      this.order.qty = this.order.qty + 1;
    },
    onMinusQty() {
      if (this.order.qty > 1) {
        this.order.qty = this.order.qty - 1;
      }
    },
    isEmpty(obj) {
      for (var prop in obj) {
        if (Object.prototype.hasOwnProperty.call(obj, prop)) {
          return false;
        }
      }

      return JSON.stringify(obj) === JSON.stringify({});
    },
    formatPrice(value, currency) {
      let currentVal = parseFloat(this.currency[currency]) * parseInt(value);
      let val = (currentVal / 1).toFixed(0).replace(".");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "₮";
    },
    getStorePay(value, currency) {
      let currentVal =
        parseFloat(this.currency[currency]) * parseInt(value / 6);
      let val = (currentVal / 1).toFixed(0).replace(".");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "₮";
    },
  },
  computed: {
    ...mapGetters("cart", ["allCart"]),
    startDeliveryTime() {
      let dt = new Date();
      dt.setDate(dt.getDate() + 5);
      return dt;
    },
    endDeliveryTime() {
      let dt = new Date();
      dt.setDate(dt.getDate() + 9);
      return dt;
    },
    deadline() {
      let date = 0;
      if (this.product.stock < 10) {
        date = 1;
      } else if (this.product.stock < 50) {
        date = 2;
      } else if (this.product.stock > 50) {
        date = 3;
      }
      let createdAt = new Date(this.product.createdAt);
      createdAt.setDate(createdAt.getDate() + date);
      return createdAt;
    },
  },
  mounted() {},
};
</script>
