<template>
  <div>
    <div class="relative slide m-4">
      <div
        class="carousel-indicators absolute bottom-0 flex h-24 w-full justify-center items-center"
      >
        <ol class="z-50 flex w-4/12 justify-center">
          <li
            v-for="(img, i) in images"
            :key="i"
            @click="selectIndicator(i)"
            class="md:w-4 md:h-4 border border-solid rounded-full cursor-pointer mx-2"
            :class="`${active === i ? 'bg-smartblu' : ''}`"
          ></li>
        </ol>
      </div>
      <div class="carousel-inner relative overflow-hidden w-full">
        <div
          v-for="(img, i) in images"
          :id="`slide-${i}`"
          :key="i"
          :class="`${active === i ? 'active' : 'left-full'}`"
          class="relative carousel-item inset-0 w-full transform transition-all duration-500 ease-in-out"
        >
          <img
            class="block w-full border border-smartblu rounded"
            :src="img.large"
            alt="First slide"
          />
          <div
            class="absolute top-7 right-4 px-1 rounded bg-smartblu text-white"
          >
            Онцлох
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-5 gap-5 m-4">
      <img
        :class="`${active == i ? 'border border-solid border-smartblu' : ''}`"
        v-for="(img, i) in images"
        :key="i"
        @click="selectIndicator(i)"
        :src="img.small"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    images: {
      type: Array,
    },
  },
  methods: {
    selectIndicator(i) {
      this.active = i;
    },
  },
  data: function () {
    return {
      active: 0,
    };
  },
  mounted() {
    let i = 0;
    setInterval(() => {
      if (i > this.images.length - 1) {
        i = 0;
      }
      this.active = i;
      i++;
    }, 20000);
  },
};
</script>

<style scoped>
.left-full {
  left: -100%;
}

.carousel-item {
  float: left;
  position: relative;
  display: block;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
}

.carousel-item.active {
  left: 0;
}
</style>
