<template>
  <div class="mt-2">
    <div class="flex justify-center gap-5 items-center">
      <div class="grid w-full">
        <div
          v-for="(optionType, i) in currentVariant"
          :key="optionType.name"
          class="mt-2"
        >
          <div class="capitalize">{{ optionType.name }}</div>

          <select
            class="
              bg-gray-50
              border
              text-gray-900 text-sm
              rounded-lg
              focus:ring-blue-500
              block
              w-full
              p-2.5
              dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white
              bg-white
              border-white
              focus:border-primary
              shadow-lg
            "
            v-model="selectedValues[i]"
            @change="onSelected(i)"
          >
            <option
              v-for="variant in optionType.values"
              :key="variant.value"
              :value="variant"
            >
              <div class="capitalize">{{ variant }}</div>
            </option>
          </select>
        </div>
      </div>
      <button
        @click="size = !size"
        class="p-2 shadow-lg h-10 w-10"
        :class="
          haragd
            ? 'bg-primary text-white rounded-xl'
            : 'bg-white text-primary rounded-full'
        "
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="bi bi-question-diamond h-6 w-6"
          viewBox="0 0 16 16"
        >
          <path
            d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"
          />
          <path
            d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"
          />
        </svg>
      </button>
    </div>
    <div v-if="size" class="md:-ml-16 h-fit flex justify-center items-center">
      <Chart class="shadow-lg" />
    </div>
  </div>
</template>

<script>
import Chart from "../chart.vue";
export default {
  props: {
    variants: {
      type: Array,
    },
    option_type: {
      type: String,
    },
    varient: {
      type: Object,
    },
  },
  data: function () {
    return {
      currentVariant: [],
      haragd: false,
      selectedValues: [],
      size: false,
    };
  },
  methods: {
    onSelected(index) {
      index++;
      // Clear selected
      this.selectedValues.splice(index, this.selectedValues.length - index);
      if (this.current_option_type.length === index) {
        for (let variant of this.variants) {
          if (variant.name.toLowerCase() === this.selectedValues.join(",")) {
            this.varient = variant;
            this.$emit("selectedVarient", this.varient);
          }
        }
        return;
      }
      let value = { values: [] };
      value.name = this.current_option_type[index];
      for (let variant of this.variants) {
        if (variant.name.split(",").length > index) {
          let status = false;
          for (let idx = 0; idx < this.selectedValues.length; idx++) {
            if (
              this.selectedValues[idx].toLowerCase() ===
              variant.name.split(",")[idx].toLowerCase()
            ) {
              status = true;
            } else {
              status = false;
              break;
            }
          }
          if (status == true) {
            value.values.push(variant.name.split(",")[index].toLowerCase());
          }
        }
      }
      value.values = [...new Set(value.values)];
      if (this.current_option_type.length === index) {
        this.currentVariant.push(value);
      } else {
        this.currentVariant[index] = value;
      }
    },
  },
  created() {
    this.current_option_type = this.option_type.split(",");
    this.currentVariant = [];
    let value = { values: [] };
    value.name = this.current_option_type[0];
    for (let variant of this.variants) {
      value.values.push(variant.name.split(",")[0].toLowerCase());
    }
    value.values = [...new Set(value.values)];
    this.currentVariant.push(value);
  },
  components: { Chart },
};
</script>
