<template>
  <div>
    <div class="w-full mt-8">
      <div class="text-sm font-semibold uppercase font-roboto">Тайлбар</div>

      <div class="text-sm font-serif mt-2 font-roboto">
        {{ product.presentation_name }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
    },
  },
};
</script>
