<template>
  <div>
    <section class="px-2 py-10 bg-white md:px-0 rounded-t-3xl">
      <!-- <div class="container items-center max-w-6xl px-8 mx-auto xl:px-5">
        <div class="flex flex-wrap items-center sm:-mx-3">
          <div class="w-full md:w-1/2 md:px-3 flex justify-center">
            <div
              class="w-full pb-6 space-y-6 sm:max-w-md lg:max-w-lg md:space-y-4 lg:space-y-8 xl:space-y-9 sm:pr-5 lg:pr-0 md:pb-0"
            >
              <h1
                class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl"
              >
                <span class="block xl:inline">Topsale баг</span>
              </h1>

              <p
                class="mx-auto text-base text-gray-500 sm:max-w-md lg:text-xl md:max-w-3xl"
              >
                Бүүм дийл ХХК нь охин компани болох Topsale нь дотоодын зах зээл
                дээр төдийлөн хөгжөөгүй байсан худалдааны салбарт цоо шинэ
                стандартыг тогтоох, цахим худалдааны цогц платформыг бүтээх
                зорилготой үүсгэн байгуулагдсан Монголын анхны E-Commerce
                компани юм.
              </p>
            </div>
          </div>
        </div>
      </div> -->
      <div class="flex justify-center px-36">
        <div>
          <h1 class="flex justify-center text-5xl font-semibold my-10">
            Бидний тухай
          </h1>
          <div class="p-10 shadow-lg rounded-xl">
            <p>
              Бүүм дийл ХХК нь охин компани болох Topsale нь дотоодын зах зээл
              дээр төдийлөн хөгжөөгүй байсан худалдааны салбарт цоо шинэ
              стандартыг тогтоох, цахим худалдааны цогц платформыг бүтээх
              зорилготой үүсгэн байгуулагдсан Монголын анхны E-Commerce компани
              юм.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="w-full bg-white pt-7 pb-7 md:pt-20 md:pb-24 rounded-b-3xl">
      <div
        class="box-border flex flex-col items-center content-center px-8 mx-auto leading-6 text-black border-0 border-gray-300 border-solid md:flex-row max-w-7xl lg:px-16"
      >
        <div
          class="box-border relative w-full max-w-md px-4 mt-5 mb-4 -ml-5 text-center bg-no-repeat bg-contain border-solid md:ml-0 md:mt-0 md:max-w-none lg:mb-0 md:w-1/2 xl:pl-10"
        >
          <img
            src="https://cdn.devdojo.com/images/december2020/productivity.png"
            class="p-2 pl-6 pr-5 xl:pl-16 xl:pr-20"
          />
        </div>

        <div
          class="box-border order-first w-full text-black border-solid md:w-1/2 md:pl-10 md:order-none"
        >
          <h2
            class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl"
          >
            Бидний зорилго
          </h2>
          <p
            class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-12 xl:pr-32 lg:text-lg"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            mollis augue odio, ut molestie arcu congue et. Nulla vitae lorem a
            neque fermentum lobortis.
          </p>
          <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
            <li
              class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid"
            >
              <span
                class="inline-flex items-center justify-center w-6 h-6 mr-2 text-black bg-yellow-300 rounded-full"
                ><span class="text-sm font-bold">✓</span></span
              >
              Maximize productivity and growth
            </li>
            <li
              class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid"
            >
              <span
                class="inline-flex items-center justify-center w-6 h-6 mr-2 text-black bg-yellow-300 rounded-full"
                ><span class="text-sm font-bold">✓</span></span
              >
              Speed past your competition
            </li>
            <li
              class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid"
            >
              <span
                class="inline-flex items-center justify-center w-6 h-6 mr-2 text-black bg-yellow-300 rounded-full"
                ><span class="text-sm font-bold">✓</span></span
              >
              Learn the top techniques
            </li>
          </ul>
        </div>
      </div>
      <div
        class="box-border flex flex-col items-center content-center px-8 mx-auto mt-2 leading-6 text-black border-0 border-gray-300 border-solid md:mt-20 xl:mt-0 md:flex-row max-w-7xl lg:px-16"
      >
        <div
          class="box-border w-full text-black border-solid md:w-1/2 md:pl-6 xl:pl-32"
        >
          <h2
            class="m-0 text-xl font-semibold leading-tight border-0 border-gray-300 lg:text-3xl md:text-2xl"
          >
            Бидний эрхэм зүйлс
          </h2>
          <p
            class="pt-4 pb-8 m-0 leading-7 text-gray-700 border-0 border-gray-300 sm:pr-10 lg:text-lg"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
            mollis augue odio, ut molestie arcu congue et. Nulla vitae lorem a
            neque fermentum lobortis.
          </p>
          <ul class="p-0 m-0 leading-6 border-0 border-gray-300">
            <li
              class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid"
            >
              <span
                class="inline-flex items-center justify-center w-6 h-6 mr-2 text-black bg-yellow-300 rounded-full"
                ><span class="text-sm font-bold">✓</span></span
              >
              Automated task management
            </li>
            <li
              class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid"
            >
              <span
                class="inline-flex items-center justify-center w-6 h-6 mr-2 text-black bg-yellow-300 rounded-full"
                ><span class="text-sm font-bold">✓</span></span
              >
              Detailed analytics for your data
            </li>
            <li
              class="box-border relative py-1 pl-0 text-left text-gray-500 border-solid"
            >
              <span
                class="inline-flex items-center justify-center w-6 h-6 mr-2 text-black bg-yellow-300 rounded-full"
                ><span class="text-sm font-bold">✓</span></span
              >
              Some awesome integrations
            </li>
          </ul>
        </div>

        <div
          class="box-border relative w-full max-w-md px-4 mt-10 mb-4 text-center bg-no-repeat bg-contain border-solid md:mt-0 md:max-w-none lg:mb-0 md:w-1/2"
        >
          <img
            src="https://cdn.devdojo.com/images/december2020/settings.png"
            class="pl-4 sm:pr-10 xl:pl-10 lg:pr-32"
          />
        </div>
      </div>
    </section>

    <section class="py-20 bg-gray-50">
      <div
        class="container items-center max-w-6xl px-10 mx-auto sm:px-20 md:px-32 lg:px-16"
      >
        <div class="flex flex-wrap items-center -mx-3">
          <div class="order-1 w-full px-3 lg:w-1/2 lg:order-0">
            <div class="w-full lg:max-w-md">
              <h2
                class="mb-4 text-3xl font-bold leading-tight tracking-tight sm:text-4xl font-heading"
              >
                Бидний давуу тал !
              </h2>
              <p class="mb-4 font-medium tracking-tight text-gray-400 xl:mb-6">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                mollis augue odio, ut molestie arcu congue et. Nulla vitae lorem
                a neque fermentum lobortis.
              </p>
              <ul>
                <li class="flex items-center py-2 space-x-4 xl:py-3">
                  <svg
                    class="w-8 h-8 text-pink-500"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z"
                    ></path>
                  </svg>
                  <span class="font-medium text-gray-500">Lorem ipsum</span>
                </li>
                <li class="flex items-center py-2 space-x-4 xl:py-3">
                  <svg
                    class="w-8 h-8 text-yellow-500"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4"
                    ></path>
                  </svg>
                  <span class="font-medium text-gray-500">Lorem ipsum</span>
                </li>
                <li class="flex items-center py-2 space-x-4 xl:py-3">
                  <svg
                    class="w-8 h-8 text-green-500"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"
                    ></path>
                  </svg>
                  <span class="font-medium text-gray-500"
                    >100% Protection and Security for Your info gedeg ch ymu
                    :></span
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="w-full px-3 mb-12 lg:w-1/2 order-0 lg:order-1 lg:mb-0">
            <img
              class="mx-auto sm:max-w-sm lg:max-w-full"
              src="https://cdn.devdojo.com/images/november2020/feature-graphic.png"
              alt="feature image"
            />
          </div>
        </div>
      </div>
    </section>

    <section
      class="flex items-center justify-center py-20 bg-white min-w-screen"
    >
      <div class="px-16 bg-white">
        <div
          class="container flex flex-col items-start mx-auto lg:items-center"
        >
          <p
            class="relative flex items-start justify-start w-full text-lg font-bold tracking-wider text-purple-500 uppercase lg:justify-center lg:items-center"
          >
            Хамтрагч
          </p>

          <h2
            class="relative flex items-start justify-start w-full max-w-3xl text-5xl font-bold lg:justify-center"
          >
            Веб сайтууд
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-globe"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"
              />
            </svg>
          </h2>
          <div
            class="block w-full h-0.5 max-w-lg mt-6 bg-purple-100 rounded-full"
          ></div>

          <div class="items-center justify-center w-full mt-12 mb-4 lg:flex">
            <div
              class="flex flex-col items-start justify-start w-full h-auto mb-12 lg:w-1/3 lg:mb-0"
            >
              <div class="flex items-center justify-center">
                <div class="w-16 mr-4 overflow-hidden bg-gray-200">
                  <img
                    src="https://d2oz01vtijeo53.cloudfront.net/af4b08b2-dee8-4b50-8352-c21f4e3abdb2/img/logos/rethink_word.svg"
                    class="object-cover w-full h-full"
                  />
                </div>
                <div class="flex flex-col items-start justify-center">
                  <h4 class="font-bold text-gray-800">Rethink</h4>
                  <p class="text-gray-600">Korea</p>
                </div>
              </div>
            </div>
            <div
              class="flex flex-col items-start justify-start w-full h-auto px-0 mx-0 mb-12 md:border-l md:border-r border-transparent lg:w-1/3 lg:mb-0 lg:px-8 lg:mx-8 lg:border-gray-200"
            >
              <div class="flex items-center justify-center">
                <div class="w-16 mr-4 overflow-hidden bg-gray-200">
                  <img
                    src="https://img7.yna.co.kr/etc/inner/EN/2019/02/25/AEN20190225010300320_01_i_P4.jpg"
                    class="object-cover w-full h-full"
                  />
                </div>
                <div class="flex flex-col items-start justify-center">
                  <h4 class="font-bold text-gray-800">SSG</h4>
                  <p class="text-gray-600">Korea</p>
                </div>
              </div>
            </div>
            <div
              class="flex flex-col items-start justify-start w-full h-auto lg:w-1/3"
            >
              <div class="flex items-center justify-center">
                <div class="w-16 mr-4 overflow-hidden bg-gray-200">
                  <img
                    src="http://media.corporate-ir.net/media_files/IROL/17/176060/Oct18/Amazon%20logo.PNG"
                    class="object-cover w-full h-full"
                  />
                </div>
                <div class="flex flex-col items-start justify-center">
                  <h4 class="font-bold text-gray-800">Amazon</h4>
                  <p class="text-gray-600">USA</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
<!-- <template>
  <div class="bg-white">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-y-16 gap-x-8 py-24 px-4 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8"
    >
      <div>
        <h2
          class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-center"
        >
          Бидний тухай
        </h2>
        <p class="mt-4 text-gray-500 font-black">
          Бүүм ХХК нь охин компани болох Topsale нь дотоодын зах зээл дээр
          төдийлөн хөгжөөгүй байсан худалдааны салбарт цоо шинэ стандартыг
          тогтоох, цахим худалдааны цогц платформыг бүтээх зорилготой үүсгэн
          байгуулагдсан Монголын анхны E-Commerce компани юм.
        </p>
        <dl
          class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8"
        >
          <div
            v-for="feature in features"
            :key="feature.name"
            class="border-t border-gray-200 pt-4"
          >
            <dt class="font-bold text-gray-900">{{ feature.name }}</dt>
            <dd class="font-sans mt-2 text-sm text-gray-500">
              {{ feature.description }}
            </dd>
          </div>
        </dl>
      </div>
      <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
        <img
          src="https://img.freepik.com/free-photo/portrait-beautiful-young-asian-woman-with-shopping-bag-credit-card_74190-10610.jpg?w=1060&t=st=1663035428~exp=1663036028~hmac=8205a5d810c09e1c0caf666609d65c933057788f8f7535f790cf451c33976f7c"
          alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
          class="rounded-lg bg-gray-100 h-64"
        />
        <img
          src="https://img.freepik.com/free-psd/online-delivery-with-smartphone-mockup-template-with-delivery-package_1150-38852.jpg?t=st=1663035656~exp=1663036256~hmac=8ebf585fb8031406eec112dc181111b8874c76fdc7a9de971b543f3e1ba3dc91"
          alt="Top down view of walnut card tray with embedded magnets and card groove."
          class="rounded-lg bg-gray-100 h-64"
        />
        <img
          src="https://img.freepik.com/free-photo/showing-cart-trolley-shopping-online-sign-graphic_53876-133967.jpg?w=1060&t=st=1663035785~exp=1663036385~hmac=e57e9d426cc227d1758561c4ef7c39531099f627cc35a75ca75928fb95e836f0"
          alt="Side of walnut card tray with card groove and recessed card area."
          class="rounded-lg bg-gray-100 h-64"
        />
        <img
          src="https://img.freepik.com/free-psd/blank-screen-smart-phone-mockup-with-online-shopping_1150-38968.jpg?w=996&t=st=1663035847~exp=1663036447~hmac=6cee5471ddd271edbc41f81ca7f56ab9bdaa2678ca72fa20f1c10489ca5c6bf6"
          alt="Walnut card tray filled with cards and card angled in dedicated groove."
          class="rounded-lg bg-gray-100 h-64"
        />
      </div>
    </div>
  </div>
</template>
<script setup>
const features = [
  {
    name: "Purprose",
    description:
      "Дэлхийд  зарагдаж байгаа бараа бүтээгдэхүүнүүдийг  хамгийн чанартай хамгийн хямдаар монгол улсад нэвтрүүлэн хялбар платформын website бүтээх.",
  },
  {
    name: "TRENDS THAT YOU LOVE",
    description:
      "Хэрэгцээг мэдэрсэн цоо шинэ Бүтээгдэхүүний сонголтыг харуулах.",
  },
  {
    name: "Connect",
    description:
      ' Дэлхийн томоохон системүүдтэй интеграци хийн худалдаа, маркетинг, ложистикийн төвлөрсөн платформ болон ажиллаж байна."',
  },
  {
    name: "BEST DEALS",
    description: "Шилдэг шинэлэг брэндийн хамгийн супер хямдрыг санал болгох ",
  },
  {
    name: "Platform",
    description:
      "Өнөөдрийн байдлаар Topsale ХХК нь 100 мянган хэрэглэгч, 10 гаруй харилцагч байгууллага, 2,000 гаруй худалдааны цэгийг холбон бүх төрлийн бараа  дамжуулан амжилттай худалдаалж байна",
  },
  {
    name: "SMART RECOMMENDATION",
    description: "Хэрэглэгч сонголтоо хийхэд ухаалаг технологоор туслах. ",
  },
];
</script>
<style></style> -->
