<template>
  <div>
    <div class="my-10 grid grid-cols-3 gap-4">
      <div class="col-span-3">
        <div class="text-lg"></div>
      </div>
      <div class="col-span-3 md:col-span-1 bg-white shadow-xl">
        <img
          class="w-32 mx-auto rounded-full border-8 border-white"
          src="https://cdn-icons-png.flaticon.com/512/2579/2579320.png"
          alt=""
        />
        <div class="text-center mt-2 text-3xl font-bold">Open box</div>
        <div class="text-center mt-2 font-light text-sm">Гэж юу вэ?</div>
        <div class="flex justify-center p-6">
          <p class="text-center font-roboto">
            Тухайн бүтээгдэхүүнийг худалдаж буй газар
            <strong>баглаа боодлыг задласан</strong>
            тул дахин савлаж худалдаанд гаргах тохиолдлыг олон улсанд OPEN BOX
            гэж нэрлэдэг бөгөөд томоохон брэндүүд OPEN BOX -д ангилагдах бараа
            бүтээгдэхүүнээ агуулах чөлөөлөх худалдаа эрхэлдэг вэбсайтуудаар
            дамжуулан маш бага үнээр зах зээлд нийлүүлдэг. Хэдийгээр сав баглаа
            боодол задарсан боловч ажиллагаа нь цоо шинэ бүтээгдэхүүн юм.
            Оригналь брэнд бүтээгдэхүүнийг маш хямдаар авах алтан боломж юм.
          </p>
        </div>
      </div>

      <div class="col-span-3 md:col-span-1 bg-white shadow-xl">
        <img
          class="w-32 mx-auto rounded-full border-8 border-white"
          src="https://cdn-icons-png.flaticon.com/512/3609/3609486.png"
          alt=""
        />
        <div class="text-center mt-2 text-3xl font-bold">Засварласан</div>
        <div class="text-center mt-2 font-light text-sm">Гэж юу вэ?</div>
        <div class="flex justify-center p-6">
          <p class="text-center font-roboto">
            Энэ нь
            <strong>дэлгүүрт үзүүлэнгийн зориулалтаар тавигдаж байсан</strong>
            ба бүтээгдэхүүн нь үйлдвэрлэгч болон сэргээн засварлагчийн зүгээс
            бүрэн үйл ажиллаагаар хангагдсан дахин савласан бүтээгдэхүүн юм. Энэ
            бүтээгдэхүүн нь бага зэргийн элэгдэлтэй эсвэл хэрэглэгдсэн байдаг
            учраас өндөр дүнгээр хямдардаг учир сайн чанарын барааг хямдхан авах
            боломжтой байдаг.
          </p>
        </div>
      </div>

      <div class="col-span-3 md:col-span-1 bg-white shadow-xl">
        <img
          class="w-32 mx-auto rounded-full border-8 border-white"
          src="https://cdn-icons-png.flaticon.com/512/2490/2490354.png"
          alt=""
        />
        <div class="text-center mt-2 text-3xl font-bold">Итгэмжлэгдсэн</div>
        <div class="text-center mt-2 font-light text-sm">Гэж юу вэ?</div>
        <div class="flex justify-center p-6">
          <p class="text-center font-roboto">
            Дахин итгэмжлэгдсэн бараа нь үйлдвэрийн ямар нэг дутагдалтай гарсан
            барааг үйлдвэрлэгчид буцааж хүлээн авсны дараа дахин засвар оруулсан
            бараатай ижил шатлалаар явдаг бөгөөд ялгаа нь засвар орсон бараа нь
            буцаах боломжгүй ба баталгаат хуудасгүй. Харин
            <strong
              >дахин итгэмжлэгдсэн бараа нь богино хугацааны баталгаат хуудастай
              учраас ямар нэгэн асуудалтай байвал буцаах болон солих боломжтой
              юм.</strong
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
