<template>
  <div class="px-10 py-2">
    <section>
      <div class="md:px-20 py-4 mb-8 space-y-2">
        <h1 class="text-3xl mb-8">Түгээмэл асуулт хариултууд</h1>
        <!-- button starts here -->
        <button
          class="
            w-full
            px-3
            group
            focus:outline-none
            bg-white
            shadow-sm
            rounded-lg
            hover:shadow-md
          "
        >
          <div
            class="
              flex
              items-center
              justify-between
              py-3
              text-left
              font-semibold
              hover:bg-blue-200
            "
          >
            <span class="h-fit">1. Бүртгүүлэх нэвтрэх заавар</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40 px-10">
            <p class="flex justify-start">
              topsale.mn-д бүртгүүлэхийн тулд хэрэглэгчийн профайл хэсэг дэх
              “нэвтрэх” товч дээр дарна.<br /><br />
              &nbsp; 1. Фэйсбүүк хаягаар шууд нэвтэрнэ эсвэл ашигладаг и-мэйл
              хаягаа оруулна.<br />
              &nbsp; 2. Бүртгүүлэх/Нэвтрэх нууц үгээ оруулаад нэвтэрнэ.<br /><br />

              Хэрэглэгч Topsale.mn - д бүртгүүлэх үед цахим шуудангийн хаяг
              болон хэрэглэгчийн үүсгэсэн нууц үг системд хадгалагдана.
              Хэрэглэгчийн оруулсан нууц үгийг систем шифрлэн кодчилж хадгалах
              тул хэрэглэгчээс өөр хүн нууц үгийг мэдэх боломжгүй юм.<br /><br />
              Нууц үгээ мартсан бол яах вэ?<br /><br />
              “Нууц үг сэргээх” товч дээр дарж бүртгэлтэй и-мэйл хаягаар ирсэн
              баталгаажуулах кодыг оруулна. Шинээр нууц үг оруулаад нэвтэрнэ.
            </p>
          </div>
        </button>

        <button
          class="
            w-full
            px-3
            group
            focus:outline-none
            bg-white
            shadow-sm
            rounded-lg
            hover:shadow-md
          "
        >
          <div
            class="
              flex
              items-center
              justify-between
              py-3
              text-left
              font-semibold
              hover:bg-blue-200
            "
          >
            <span class="h-fit">2. Захиалга яаж баталгаажих вэ?</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="w-5 h-5 focus:h-3"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class="flex justify-start">
              Захиалга хийж баталгаажуулсны дараа таны э-мэйлээр болон гар
              утсанд мессежээр захиалгын дугаар, нийт дүн, төлбөр гүйцэтгэх
              хэлбэр, төлбөр хүлээн авагч байгууллагын нэр, дансны дугаар
              зэргийг танд хүргэнэ.<br /><br />
              Захиалга бүр дахин давтагдашгүй захиалгын дугаартай байх бөгөөд
              төлбөрөө шилжүүлэхдээ гүйлгээний утга дээрээ AB112 үсэг,тоо бүхий
              захиалгын дугаараа бүрэн, зөв бичих ёстой. Гүйлгээний утгыг зөв
              бичээгүй тохиолдолд тухайн захиалга манайд үүсэх боломжгүй тул
              ийнхүү алдаа гаргасан бол 72277020 дугаарын утсанд холбогдож
              асуудлыг шийдвэрлүүлэх боломжтой. Төлбөрийг шилжүүлэхдээ системд
              заагдсан зааврыг зайлшгүй дагах шаардлагатай.<br /><br />
              Та өөрийн захиалсан бараа бүтээгдэхүүн, үйлчилгээний дэлгэрэнгүй
              мэдээллийг topsale.mn дээрх өөрийн бүртгэл доторх “миний сагс”
              хэсгээс харах боломжтой бөгөөд энэ хэсэгт таны захиалгын түүхүүд
              хадгалагдсан байдаг.<br /><br />
              Захиалгын нийт үнийн дүнг 100 хувь урьдчилан төлснөөр таны
              захиалга баталгааждаг.
            </p>
          </div>
        </button>

        <button
          class="
            h-fit
            px-3
            group
            focus:outline-none
            w-full
            bg-white
            shadow-sm
            rounded-lg
            hover:shadow-md
          "
        >
          <div
            class="
              flex
              items-center
              justify-between
              py-3
              text-left
              font-semibold
              hover:bg-blue-200
            "
          >
            <span class="h-fit">3. Захиалгаа цуцлах боломжтой юу?</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class="flex justify-start">
              Таны төлбөр төлөгдсөнөөс хойш гадаад худалдан авалт хийгдсэн
              тохиолдолд төлбөрийн буцаан олголт гаднах сайт үйлчилгээний
              нөхцөлийн журмаар хийгдэх болно.Хэрвээ манай байгуулаг гаднах
              байгуулагд захиалга хийгдээгүй тохиолдолд таны буцаан олголт ажлын
              8 цагны дотор хийгдэнэ.
            </p>
          </div>
        </button>

        <button
          class="
            w-full
            h-fit
            px-3
            group
            focus:invisible
            bg-white
            shadow-sm
            rounded-lg
            hover:shadow-md
          "
        >
          <div
            class="
              flex
              items-center
              justify-between
              text-left
              py-3
              font-semibold
              hover:bg-blue-200
            "
          >
            <span class="h-fit">4. Захиалгын төлбөрөө хэрхэн төлөх вэ?</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class="flex justify-start">
              Topsale.mn нь хэрэглэгчийн хийсэн захиалгын төлбөр албан ёсны
              дансанд тодорхой заавар, хэлбэрийн дагуу хийгдсэн тохиолдолд
              захиалга албан ёсоор баталгаажсан гэж үзнэ. Хэрэглэгч захиалга
              хийх, төлбөр гүйцэтгэх, бараа хүлээж авах бүрд хэрэглэгчийн
              бүртгүүлсэн цахим шуудан мөн холбогдох гар утасны дугаарт мэдэгдэл
              илгээгдэнэ. Хугацаанд танд худалдан авалт хийх эсэхээ шийдэх
              боломжийг олгодог. Энэ хугацаанд та захиалгаа цуцлах боломжтой.
              <br /><br />
              Харин та захиалгын төлбөрөө төлсөн бол тус захиалгыг цуцлах
              боломжгүйг анхаарна уу.
              <br /><br />
              Та ажлын өдрүүдийн ажлын цагаар утсаар холбогдож мэдээлэл авах,
              тодруулах бүрэн боломжтой.
            </p>
          </div>
        </button>

        <button
          class="
            w-full
            h-fit
            px-3
            group
            focus:outline-none
            bg-white
            shadow-sm
            rounded-lg
            hover:shadow-md
          "
        >
          <div
            class="
              flex
              items-center
              justify-between
              py-3
              text-left
              font-semibold
              hover:bg-blue-200
            "
          >
            <span class="h-fit"
              >5. Захиалсан бараа бүтээгдэхүүнээ хэзээ авах боломжтой вэ?</span
            >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class="flex justify-start">
              Захиалгын төлбөр төлөгдсөн өдрөөс хойш гадагшаа байгуулагд
              захиалга өгч газраар болон агаараар тээвэрлэлт хийгдэж манай
              байгуулаг танд захиалга хаана хэзээ очих утсаар мессеж хэлбэрээр
              хүргэх болно.Хэрвээ хөдөө, орон нутагт хүргэх хугацаа 5-40 хоног
              байна.<br /><br />
              Давагдашгүй хүчин зүйл, бүх нийтээр амрах өдрүүд, хил, гаалийн үйл
              ажиллагаа саатах, бүх нийтийн хөл хорио, хөдөлгөөний хэсэгчилсэн
              хязгаарлалт, замын хөдөлгөөний түгжрэлийн хэт ачаалал, цаг агаарын
              байдал болон бусад хүчин зүйлийн улмаас тээвэрлэлт саатах зэрэг
              шалтгаанаар тодорхой хугацаагаар бараа хүргэлт саатах бүрд
              хэрэглэгчид нэн даруй мэдэгдэнэ
            </p>
          </div>
        </button>

        <button
          class="
            w-full
            h-fit
            px-3
            group
            focus:outline-none
            bg-white
            shadow-sm
            rounded-lg
            hover:shadow-md
          "
        >
          <div
            class="
              flex
              items-center
              justify-between
              text-left
              py-3
              font-semibold
              hover:bg-blue-200
            "
          >
            <span class="h-fit">6. Хүргэлттэй юу?</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class="flex justify-start">
              Хэрэглэгчийн захиалгыг Улаанбаатар хот дотор, Хөдөө орон нутагт
              хүргэлт үнэгүй хийгдэнэ.
            </p>
          </div>
        </button>

        <button
          class="
            w-full
            h-fit
            px-3
            group
            focus:outline-none
            bg-white
            shadow-sm
            rounded-lg
            hover:shadow-md
          "
        >
          <div
            class="
              flex
              items-center
              justify-between
              text-left
              py-3
              font-semibold
              hover:bg-blue-200
            "
          >
            <span class="h-fit">7. Хүргэлт авахгүй байж болох уу?</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p>
              Та хүргэлтгүй захиалга хийх боломжтой бөгөөд таны захиалга бэлэн
              болсныг өөрийн захиалгын статусын дагуу мэдсэн даруйд өөрийн биеэр
              topsale.mn-ийн байран дээрээс ирж авна.
            </p>
          </div>
        </button>

        <button
          class="
            w-full
            h-fit
            px-3
            group
            focus:none
            bg-white
            shadow-sm
            rounded-lg
            hover:shadow-md
          "
        >
          <div
            class="
              flex
              items-center
              justify-between
              text-left
              py-3
              font-semibold
              hover:bg-blue-200
            "
          >
            <span class="h-fit"
              >8. Бараа, бүтээгдэхүүний дэлгэрэнгүй мэдээлэлтэй хэрхэн танилцах
              вэ?</span
            >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class="flex justify-start">
              Та захиалга хийхдээ тус системд байгаа барааны дэлгэрэнгүй
              танилцуулга, мэдээллийг сайтар судлах зайлшгүй шаардлагатай юм.
              Барааны талаар бүрэн мэдээлэл аваагүйгээс болж захиалга
              хүргэгдсэний дараа захиалгыг буцаах хүсэлтийг topsale.mn хүлээн
              авах боломжгүй.<br /><br />
              Системд барааны албан ёсны брэнд, бүтээгдэхүүний нэр, код зэрэг
              мэдээлэл байгаа тул мэдээллийн сувгийг ашиглан тус барааны талаар
              мэдээлэл, бусад орны хэрэглэгчдийн санал гомдлыг судлах
              боломжтой.<br /><br />
              Та захиалга хийхээсээ өмнө тухайн бараа бүтээгдэхүүн, үйлчилгээний
              талаарх дэлгэрэнгүй мэдээлэл, үйлчилгээний нөхцөлтэй сайтар
              танилцаж, topsale.mn дээрх онлайн туслах,
              https://www.facebook.com/www.topsale.mn хуудас руу чат бичих болон
              72277020 дугаарын утсаар холбогдож нэмэлт мэдээлэл авах
              боломжтой.<br /><br />
              Жишээ нь: Гоо сайхны бараа бүтээгдэхүүн, үнэртэн худалдан авахдаа
              орц, найрлагын талаарх мэдээллийг тухайн барааны Нэмэлт мэдээлэл
              хэсгээс судалж, өөрт харшилдаг зүйлс орц найрлагад бий эсэхийг
              шалгах, шаардлагатай бол оператортай холбогдож нийлүүлэгч
              байгууллагаас мэдээлэл авч өгөхийг хүсэх боломжтой.
            </p>
          </div>
        </button>

        <button
          class="
            w-full
            h-fit
            px-3
            group
            focus:outline-none
            bg-white
            shadow-sm
            rounded-lg
            hover:shadow-md
          "
        >
          <div
            class="
              flex
              items-center
              justify-between
              text-left
              py-3
              font-semibold
              hover:bg-blue-200
            "
          >
            <span class="h-fit"
              >9. Захиалсан бараа бүтээгдэхүүнийг солих боломжтой юу?</span
            >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class="flex justify-start">
              Бараа бүтээгдэхүүнийг солиулах боломжгүй байгаа тиймээс та сайтар
              шалгаж авна уу.
            </p>
          </div>
        </button>

        <button
          class="
            w-full
            h-fit
            px-3
            group
            focus:outline-none
            bg-white
            shadow-sm
            rounded-lg
            hover:shadow-md
          "
        >
          <div
            class="
              flex
              items-center
              justify-between
              text-left
              py-3
              font-semibold
              hover:bg-blue-200
            "
          >
            <span class="h-fit"
              >10. Зээлээр бараа бүтээгдэхүүн, үйлчилгээ авах талаар?</span
            >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="w-5 h-5"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M19.5 8.25l-7.5 7.5-7.5-7.5"
              />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class="flex justify-start">
              Манай байгуулаг Storepay хамтарсан байдаг болохоор хэрэглэгч та
              бүртгэлтэй,мөнгөн дүн таарч байгаа бол худалдан авалт хийгдэнэ.
            </p>
          </div>
        </button>
      </div>
    </section>
  </div>
</template>

<script>
export default {};
</script>

<style>
.max-h-0 {
  max-height: 0;
}

.group:focus .group-focus\:max-h-40 {
  max-height: fit-content;
  text-align: start;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 15px;
}
.ul {
  display: list-item;
}
</style>
