<template>
  <div class="px-10 py-2">
    <section>
      <div class="md:px-20 py-4 mb-8 space-y-2">
        <h1 class="text-3xl mb-8">Нууцлалын баталгаа</h1>
        <!-- button starts here -->
        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between h-full py-3 text-left font-semibold hover:bg-blue-200">
            <span class="h-fit"><h1>Ерөнхий</h1></span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
          </div>
          <!-- <i section-open-icon class="absolute right-0 hidden pt-1 mr-4 leading-tight fa fa-plus text-xs"></i> -->
          <!-- <i section-close-icon class="absolute right-0 pt-1 mr-4 leading-tight fa fa-minus text-xs"></i> -->
          <div class="max-h-0 overflow-hidden  group-focus:max-h-40 px-10">
            <p class="flex justify-start">
                Ерөнхий
                Энэхүү Нууцлалын бодлого нь Монгол Улсын Хүний хувийн мэдээлэл хамгаалах тухай хуульд үндэслэн Хэрэглэгчийн хувийн мэдээллийг цуглуулах, боловсруулах, ашиглах, аюулгүй байдлыг хангахтай холбоотой харилцааг зохицуулна.
                Бүүм Дийл ХХК (“Мэдээлэл хариуцагч”) нь Хэрэглэгч (“Та” эсхүл “Хэрэглэгч”)-ийг “Topsale.mn” цахим худалдааны систем (“Topsale”)-д бүртгүүлж, ашиглах үед Хүний хувийн мэдээлэл хамгаалах тухай хуульд заасан нөхцөл, журмын дагуу Таны хувийн мэдээллийг цуглуулж, боловсруулж, ашиглах бөгөөд мэдээллийн аюулгүй байдлыг хангана.
                Хэрэглэгч “Topsale”-д бүртгүүлэхээс өмнө энэхүү “Нууцлалын бодлого”-той бүрэн танилцах үүрэгтэй.
                Та “Нууцлалын бодлого”-д заасан нөхцөлүүдийг бүрэн хүлээн зөвшөөрч, “Би хүлээн зөвшөөрч байна.” гэсэн товчийг идэвхжүүлснээр “Topsale”-г ашиглах явцад өөрийн хувийн мэдээллийг цуглуулж, боловсруулж, ашиглах цахим зөвшөөрлийг Мэдээлэл хариуцагчид олгосонд тооцно.
                Хэрэв Та “Нууцлалын бодлого”-д заасан нөхцөлүүдийг хүлээн зөвшөөрөхөөс татгалзсан тохиолдолд “Би татгалзаж байна” гэсэн товчийг идэвхжүүлэх боломжтой. Энэ тохиолдолд Мэдээлэл хариуцагч таны мэдээллийг цуглуулахгүй, боловсруулахгүй, ашиглахгүй тул “Topsale”-г зориулалтын дагуу бүрэн ашиглах боломжгүй болохыг анхаарна уу.
                Энэхүү Нууцлалын бодлогоор зохицуулаагүй харилцааг Монгол Улсын Хүний хувийн мэдээлэл хамгаалах тухай хуулиар зохицуулна.
            </p>
          </div>
        </button>

        <button class="w-full px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between py-3 text-left font-semibold hover:bg-blue-200">
            <span class="h-fit">1. Мэдээлэл цуглуулах, боловсруулах, ашиглах үндэслэл, зорилго</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5 focus:h-3">
            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
          </div>
          <div class="max-h-0 overflow-hidden  group-focus:max-h-40 ">
            <p class="flex justify-start">Топсейл худалдааны систем нь дараах тохиолдлуудад иргэн, хуулийн этгээдийг /цаашид “Хэрэглэгч”, “Захиалагч” гэх/ мэдээллийг цуглуулна.<br> Үүнд:<br></p>
            <ol class="list-decimal">
              <li>Мэдээлэл хариуцагч Хэрэглэгчээс олгосон цахим зөвшөөрлийг үндэслэн мэдээллийг цуглуулж, боловсруулж, ашиглана.</li>
              <li>“Topsale”-ийн тасралтгүй, найдвартай, хэвийн ажиллагааг хангах, системийг хөгжүүлэх, Хэрэглэгчийн хүсэл, сонирхолд нийцсэн, хялбар, энгийн шийдэл бүхий үйлчилгээг санал болгох зорилгоор Хэрэглэгчийн хувийн мэдээллийг цуглуулж, боловсруулж, ашиглана. Мэдээлэл хариуцагч энд зааснаас өөр зорилгоор мэдээллийг цуглуулахгүй, ашиглахгүй, дамжуулахгүй.</li>
              <li>Энэхүү “Нууцлалын бодлого”-д заасан дараах нэр томьёог дор дурдсан утгаар ойлгоно. Үүнд:</li>
                <ol>
                  <li>“Мэдээлэл цуглуулах” гэж мэдээллийг олж авах, бүрдүүлэх, бүртгэх үйл ажиллагааг;</li>
                  <li>“Мэдээлэл боловсруулах” гэж мэдээллийг ангилах, хадгалах, дүн шинжилгээ хийх, Хэрэглэгчийн хүсэлтээр өөрчлөх, устгах, сэргээх үйл ажиллагааг;</li>
                  <li>“Мэдээлэл ашиглах” гэж үйл ажиллагаандаа хэрэглэх, дамжуулах болон мэдээлэлтэй танилцах үйл ажиллагааг;</li>
                </ol>
              <li>Мэдээлэл хариуцагч Хэрэглэгчийн мэдээллийг цуглуулж, боловсруулах, ашиглах ажиллагаанд Таны мэдээллийн үнэн зөв, бүрэн бүтэн байдлыг алдагдуулахгүй байх, мэдээллийн аюулгүй байдлыг хангах зарчмуудыг баримтална.</li>
              <li>Хэрэглэгч өөрт хамааралтай мэдээллийн үнэн зөв байдлыг хариуцах бөгөөд мэдээллийн дутуу эсхүл зөрүүтэй оруулснаас үүдэх эрх зүйн үр дагаврыг бие даан өөрөө хариуцна.</li>
            </ol>

          </div>
        </button>

        <button class="h-fit px-3 group focus:outline-none w-full bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between py-3 text-left font-semibold hover:bg-blue-200">
            <span class="h-fit">2. Мэдээлэл хариуцагчийн холбоо барих мэдээлэл</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
              <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden  group-focus:max-h-40">
            <p class="flex justify-start">
              <ol class="list-decimal">
                <li>Мэдээлэл хариуцагч Монгол Улсын Компанийн тухай хуулийн дагуу үүсгэн байгуулагдсан Бүүм Дийл ХХК байна.</li>
                <li>Хэрэглэгч энэхүү Нууцлалын бодлогын нөхцөл, хэрэгжилттэй холбоотой асуудлаар info@boom.mn цахим шуудангаар, санал, хүсэлт, гомдлоо шийдвэрлүүлнэ.</li>
              </ol>
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:invisible bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">3. Цуглуулж, боловсруулж, ашиглах мэдээллийн жагсаалт</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
              <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden  group-focus:max-h-40">
            <p class="flex justify-start">
              <ol class="list-decimal">
                <li>Мэдээлэл хариуцагч “Topsale”-ийн тасралтгүй, найдвартай, хэвийн ажиллагааг хангах, Хэрэглэгчид бүрэн ашиглах боломжийг олгох хүрээнд дараах мэдээллийг цуглуулж, боловсруулж, ашиглана. Үүнд:<br><br>
                  <ol>
                    <li>1.1 Хэрэглэгчийн овог, нэр, иргэний бүртгэлийн дугаар, төрсөн огноо, нас, хүйс оршин суугаа хаяг, шуудангийн хаяг, цахим гарын үсэг, захиалгын мэдээлэл, захиалгын үйл явц, банкны дансны дугаар, кредит болон дебит картын дугаар, захиалгын баталгаажилт, холбоо барих утасны дугаар, захиалгын болон гүйлгээний түүх, аватар зураг бүхий мэдээллүүд;</li>
                    <li>1.2 Хэрэглэгчийн зээлийн мэдээлэл, зээл эргэн төлөлт, түүхийн мэдээллүүд;</li>
                    <li>1.3 “Topsale” дээр хийгдсэн гүйлгээнд хамаарах хүлээн авагчийн нэр, мөнгөн дүн, шилжүүлгийн огноо, гүйлгээний баталгаажилтад хамаарах мэдээллүүд;</li>
                    <li>1.4 “Topsale”-г хэрэглэх явц үүсэж буй бүртгэлийн, хэтэвчний мэдээлэл, таалагдсан барааны болон бусад цахим өгөгдлүүд;</li>
                    <li>1.5 Хэрэглэгч Facebook хаягаар “Topsale”-д бүртгэл үүсгэсэн бол Хэрэглэгчийн мэдээллийг Facebook (Meta)-аас цуглуулна. Энэхүү цуглуулах мэдээлэлд овог, нэр, цахим шуудангийн хаяг, төрсөн огноо, хүйс г.м Хэрэглэгчээс нийтэд ил болгохыг зөвшөөрсөн мэдээллүүд байх бөгөөд Хэрэглэгч Facebook-д нэвтрэх холбоосоор орж, нэр, нууц үгийг оруулснаар “Topsale”-д бүртгэл үүснэ.</li>
                    <li>1.6 Хэрэглэгчийн хүсэлт, санал, гомдол, түүнийг шийдвэрлэх явц, үр дүнгийн талаарх мэдээллүүд;</li>
                  </ol>
                </li>
                <li>Мэдээлэл хариуцагч “Topsale”-ийн программ хангамжийг хөгжүүлэх, мэдээлэл технологийн шинэ шийдэлд тулгуурласан энгийн, хялбар, хэрэглээг бий болгох, хууль бус хандалтаас урьдчилан сэргийлэх хүрээнд дараах мэдээллийг цуглуулна. Үүнд:
                  <ol>
                    <li>2.1 IP хаягийн мэдээлэл, веб хөтөч, ашиглаж буй үйлдлийн систем, “Topsale”-ийн бүртгэлийн хаягт нэвтэрсэн хугацаа, газар зүйн байршлын мэдээллүүд;</li>
                    <li>2.2 Хэрэглэгчийн цахим гарын үсэг, цахим тодорхойлогчийн мэдээллүүд;</li>
                    <li>2.3 Cookies файлын тусламжтайгаар автоматаар цуглуулж буй мэдээллүүд болох цахим орчинд хандсан эх сурвалжуудын мөрнүүд;</li>
                  </ol>
                </li>
              </ol>
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between py-3 text-left font-semibold hover:bg-blue-200">
            <span class="h-fit">4. Хэрэглэгчийн мэдээллийг боловсруулах, ашиглах нөхцөл, хугацаа</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
              <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
          </div>
            <div class="max-h-0 overflow-hidden group-focus:max-h-40">
              <p class="flex justify-start">
            <ol class="list-decimal">
                <li>Мэдээлэл хариуцагч Хэрэглэгчийн мэдээллийг дараах тохиолдолд боловсруулж, ашиглана. Мэдээлэл хариуцагч дор дурдсан нөхцөлөөс бусад хэлбэрээр Хэрэглэгчийн мэдээллийг боловсруулж, ашиглахгүй болно Үүнд:
                  <ol>
                    <li>1.1 Захиалгатай бараа бүтээгдэхүүнийг хүргэх, захиалгатай холбоотой тодруулах зүйл гарсан тохиолдолд;</li>
                    <li>1.2 Таны гар утсанд холбогдох цахим шууданд мэдэгдэл, мэдээлэл илгээх;</li>
                    <li>1.3 Хэрэглэгчийн бүртгүүлсэн хаягаар хүргэлтийн үйл ажиллагаанд ашиглах;</li>
                    <li>1.4 Хэрэглэгчийн танин, баталгаажуулах үед;</li>
                    <li>1.5 Хэрэглэгчээс ирүүлсэн гомдлыг хянан шалгах явцад;</li>
                    <li>1.6 “Topsale”-ийн мэдээллийн аюулгүй байдлыг хяналтыг сайжруулах, түүнд холбогдох тест хийх;</li>
                    <li>1.7 “Topsale”-д программ хангамжийн хөгжүүлэлт хийж, түүнийг тестлэх ажиллагаанд;</li>
                    <li>1.8 “Topsale”-д нэвтрүүлж байгаа шинэ бүтээгдэхүүн, болон модуль хөгжүүлэлтэд тест хийх;</li>
                    <li>1.9 Техникийн засвар хийх үед;</li>
                    <li>1.10 “Topsale” хэрэглэгчийн судалгаа ба хяналтад зориулж нийт хэрэглэгч, захиалга г.м</li>
                    <li>1.11 Хэрэглэгчид шинэ бараа бүтээгдэхүүн, үйлчилгээ, хямдралын мэдээллийг хүргэх зориулалтаар;</li>
                    <li>1.12 Хэрэглэгчид “Албан ёсны борлуулагч” нарын санал болгож буй шинэ бүтээгдэхүүн, үйлчилгээний хямдралын мэдээллийг хүргэхэд.</li>
                  </ol>
                </li>
                <li>Мэдээлэл хариуцагч Хэрэглэгчийг “Topsale”-д бүртгүүлснээс эхлээд бүртгэлийг хаах хүртэлх хугацаанд мэдээллийг боловсруулж, ашиглана.</li>
                <li>Мэдээлэл хариуцагч Хэрэглэгчийн хувийн халдашгүй байдлыг хүндэтгэн дээдлэх бөгөөд “Topsale”-ийн бүртгэлийн мэдээллийг Монгол Улсын Засгийн газраас баталсан кибер аюулгүй байдлын журамд заасан хугацаагаар хадгална.</li>
                <li>Мэдээлэл хариуцагч Хэрэглэгчийн системд оруулсан мэдээллийг Amazon EC2 дэх өөрийн серверт хадгална. Хэрэглэгч системд нэвтрэх нэр, нууц үгийг бусдад задруулахгүй байх үүрэгтэй.</li>
                <li>Нэвтрэх эрхээ бусдад алдсанаас үүдэлтэй Хэрэглэгчийн хуудаст үүссэн аливаа хор, хохирлыг Мэдээлэл хариуцагч хариуцахгүй болно. Мэдээлэл хариуцагч Хэрэглэгчийн хандах эрхийг ашиглан мэдээлэлд нэвтрэх боломжгүй болохыг анхааруулж байна.</li>
                <li>Бид өөрсдийн үйлчилгээг сайжруулах зорилгоор “Topsale”-ийн лавлах утсанд холбогдсон дуудлагын аудио бичлэгийг хуульд заасан хугацаагаар хадгална.</li>
            </ol>
          </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">5. Хэрэглэгчийн мэдээллийг нийтэд ил болгох нөхцөл</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
  <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
</svg>

          </div>
          <div class="max-h-0 overflow-hidden  group-focus:max-h-40">
            <p>
              <ol class="list-decimal">
                <li>Монгол улсын хуульд заасан тохиолдолд төрийн эрх бүхий байгууллагын шаардлагаар Хэрэглэгчийн мэдээллийг нийтэд ил болгоно.</li>
                <li>Мэдээлэл хариуцагч Нууцлалын бодлогын 5.1-д зааснаас бусад тохиолдолд Хэрэглэгчийн хувийн мэдээллийг нийтэд ил болгохгүй.</li>
              </ol>
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">6. Хэрэглэгчийн мэдээллийг дамжуулах журам</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
          </div>
          <div class="max-h-0 overflow-hidden  group-focus:max-h-40">
            <p>
              <ol class="list-decimal">
                <li>Хэрэглэгчийн хүсэлтээр зээлээр эсхүл дараа хуваан төлөх нөхцөлтэйгөөр бүтээгдэхүүн, үйлчилгээг худалдан авах тохиолдолд Зээлдүүлэгчийн шаардсан Хэрэглэгчийн зээлийн судлахад хамаарах мэдээллийг дамжуулна. Хэрэглэгч Та энэхүү Нууцлалын бодлогын зөвшөөрсөн тохиолдолд Зээлдүүлэгчид дээрх мэдээллийг дамжуулах зөвшөөрлийг Мэдээлэл хариуцагчид олгосонд тооцно.</li>
                <li>Албан ёсны борлуулагчийн хүсэлтээр зөвхөн түүний худалдсан бүтээгдэхүүн, үйлчилгээтэй холбоотой Хэрэглэгчийн мэдээлэлтэй танилцана.</li>
                <li>Мэдээлэл хариуцагч Таны хувийн мэдээллийг гуравдагч этгээд ашиг олох зорилгоор дамжуулахгүй, түгээхгүй, худалдахгүй бөгөөд үйлчилгээний хэрэгцээнээс гадуур аливаа ашиг олох зорилгоор ашиглахгүй болно.</li>
                <li>Мэдээлэл хариуцагчаас томилсон эрх бүхий албан тушаалтан Таны хувийн мэдээлэлд хандах эрхтэй. Эрх бүхий албан тушаалтан Таны хувийн мэдээллийг гуравдагч этгээдэд задруулах эсхүл өөрийн хувийн сонирхолд нийцүүлэн нээлттэй бус мэдээллийг задруулахыг хатуу хориглоно. Хориглосон зохицуулалтыг зөрчсөн эрх бүхий албан тушаалтан хууль зүйн хариуцлага хүлээнэ.</li>
              </ol>
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">7. Хэрэглэгчийн хувийн халдашгүй байх эрхийн хамгаалалт</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
              <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class=" flex justify-start">
              <ol class="list-decimal">
                <li>Хэрэглэгч “Topsale” дахь мэдээлэл болон өөрийн дансныхаа тохиргоог хэдийд ч өөрчлөх эрхтэй.</li>
                <li>Хэрэглэгч хувийн халдашгүй байх эрхээ хэрэгжүүлэх хүрээнд Мэдээлэл хариуцагчид олгосон цахим зөвшөөрлөө хэдийд ч цуцлах эрхтэй. Цахим зөвшөөрлийг цуцлах хүсэлтийг info@boom.mn хаягаар илгээж, шийдвэрлүүлнэ.</li>
                <li>Хэрэглэгч цахим зөвшөөрөл цуцлах хүсэлт гаргасан тохиолдолд Хэрэглэгчийн “Topsale”-д бүртгэлтэй хаягийг хааж, дахин Таны мэдээллийг цуглуулахгүй, боловсруулахгүй, ашиглахгүй.</li>
                <li>Хэрэглэгчийн гаргасан цахим зөвшөөрлийг цуцлах хүсэлтийг ажлын 3-5 хоногийн дотор судалж, “Topsale”-оос бүртгэл, мэдээллийг устгаад хариу мэдэгдэх болно.</li>
                <li>Хэрэглэгчийн хүсэлтээр түүний мэдээлэлд өөрчлөлт оруулах, засах арга хэмжээг зохион байгуулна.</li>
                <li>Кибер халдлага, эрх бүхий албан тушаалтны алдаатай үйл ажиллагаа, эсхүл программ хангамж болон мэдээллийн санд гэмтэл гарсны улмаас Таны хувийн мэдээлэл алдагдсан тохиолдолд Мэдээлэл хариуцагчаас таны бүртгүүлсэн и-мэйл хаяг, гар утасны дугаарт нэн даруй мэдэгдэл хүргүүлнэ. Та мэдэгдэлд заасан арга хэмжээг заавар, анхааруулгыг дагуу авах үүрэгтэй.</li>
              </ol>
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">8. Нууцлалын бодлогын нэмэлт, өөрчлөлт</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class=" flex justify-start">
              <ol class="list-decimal">
                <li>Мэдээлэл хариуцагч Нууцлалын бодлогод нэмэлт, өөрчлөлт оруулах эрхтэй. Нууцлалын бодлогод өөрчлөлт оруулсан тохиолдолд тухай бүр www.topsale.mn сайт дээр нийтэд нээлттэй нийтлэх бөгөөд Хэрэглэгч танилцах үүрэг хүлээнэ.</li>
                <li>Хэрэглэгчийг захиалга хийгдэх үед хүчинтэй байсан “Нууцлалын бодлого” захиалгыг хүргэх шатанд өөрчлөгдсөн тохиолдолд өмнөх “Нууцлалын бодлого”-г бараа бүтээгдэхүүнийг хүлээж авах хүртэлх хугацаанд хүчинтэйд тооцно.</li>
              </ol>
            </p>
          </div>
        </button>
      </div>
    </section>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.max-h-0 {
	max-height: 0;
}

.group:focus .group-focus\:max-h-40 {
	max-height: fit-content;
  text-align: start;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 15px;
}
.ol{
  display:list-item;
}
</style>
