<template>
  <div class="bg-white">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-y-16 gap-x-8 py-24 px-4 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8"
    >
      <div>
        <h2
          class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-center"
        >
          Бидний тухай
        </h2>
        <p class="mt-4 text-gray-500 font-black">
          Бүүм ХХК нь охин компани болох Topsale нь дотоодын зах зээл дээр
          төдийлөн хөгжөөгүй байсан худалдааны салбарт цоо шинэ стандартыг
          тогтоох, цахим худалдааны цогц платформыг бүтээх зорилготой үүсгэн
          байгуулагдсан Монголын анхны E-Commerce компани юм.
        </p>
        <dl
          class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8"
        >
          <div
            v-for="feature in features"
            :key="feature.name"
            class="border-t border-gray-200 pt-4"
          >
            <dt class="font-bold text-gray-900">{{ feature.name }}</dt>
            <dd class="font-sans mt-2 text-sm text-gray-500">
              {{ feature.description }}
            </dd>
          </div>
        </dl>
      </div>
      <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
        <img
          src="https://img.freepik.com/free-photo/portrait-beautiful-young-asian-woman-with-shopping-bag-credit-card_74190-10610.jpg?w=1060&t=st=1663035428~exp=1663036028~hmac=8205a5d810c09e1c0caf666609d65c933057788f8f7535f790cf451c33976f7c"
          alt="Walnut card tray with white powder coated steel divider and 3 punchout holes."
          class="rounded-lg bg-gray-100 h-64"
        />
        <img
          src="https://img.freepik.com/free-psd/online-delivery-with-smartphone-mockup-template-with-delivery-package_1150-38852.jpg?t=st=1663035656~exp=1663036256~hmac=8ebf585fb8031406eec112dc181111b8874c76fdc7a9de971b543f3e1ba3dc91"
          alt="Top down view of walnut card tray with embedded magnets and card groove."
          class="rounded-lg bg-gray-100 h-64"
        />
        <img
          src="https://img.freepik.com/free-photo/showing-cart-trolley-shopping-online-sign-graphic_53876-133967.jpg?w=1060&t=st=1663035785~exp=1663036385~hmac=e57e9d426cc227d1758561c4ef7c39531099f627cc35a75ca75928fb95e836f0"
          alt="Side of walnut card tray with card groove and recessed card area."
          class="rounded-lg bg-gray-100 h-64"
        />
        <img
          src="https://img.freepik.com/free-psd/blank-screen-smart-phone-mockup-with-online-shopping_1150-38968.jpg?w=996&t=st=1663035847~exp=1663036447~hmac=6cee5471ddd271edbc41f81ca7f56ab9bdaa2678ca72fa20f1c10489ca5c6bf6"
          alt="Walnut card tray filled with cards and card angled in dedicated groove."
          class="rounded-lg bg-gray-100 h-64"
        />
      </div>
    </div>
  </div>
</template>
<script setup>
const features = [
  {
    name: "Purprose",
    description:
      "Дэлхийд  зарагдаж байгаа бараа бүтээгдэхүүнүүдийг  хамгийн чанартай хамгийн хямдаар монгол улсад нэвтрүүлэн хялбар платформын website бүтээх.",
  },
  {
    name: "TRENDS THAT YOU LOVE",
    description:
      "Хэрэгцээг мэдэрсэн цоо шинэ Бүтээгдэхүүний сонголтыг харуулах.",
  },
  {
    name: "Connect",
    description:
      ' Дэлхийн томоохон системүүдтэй интеграци хийн худалдаа, маркетинг, ложистикийн төвлөрсөн платформ болон ажиллаж байна."',
  },
  {
    name: "BEST DEALS",
    description: "Шилдэг шинэлэг брэндийн хамгийн супер хямдрыг санал болгох ",
  },
  {
    name: "Platform",
    description:
      "Өнөөдрийн байдлаар Topsale ХХК нь 100 мянган хэрэглэгч, 10 гаруй харилцагч байгууллага, 2,000 гаруй худалдааны цэгийг холбон бүх төрлийн бараа  дамжуулан амжилттай худалдаалж байна",
  },
  {
    name: "SMART RECOMMENDATION",
    description: "Хэрэглэгч сонголтоо хийхэд ухаалаг технологоор туслах. ",
  },
];
</script>
<style></style>
