<template>
  <div class="px-10 py-2">
    <section>
      <div class="md:px-20 py-4 mb-8 space-y-2">
        <h1 class="text-3xl mb-8">Үйлчилгээний нөхцөл</h1>
        <!-- button starts here -->
        <button class="w-full px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between py-3 text-left font-semibold hover:bg-blue-200">
            <span class="h-fit">Нэг. Ерөнхий нөхцөл</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40 px-10">
            <p class="flex justify-start">
              Topsale.mn нь “Бүүм Дийл ХХК” компанийн албан ёсны вэбсайт бөгөөд
        хэрэглэгч та вэбсайтыг ашиглахын өмнө үйлчилгээний нөхцөлийг сайтар
        уншиж танилцана уу. Энэхүү нөхцөл нь 2022 оны 8 дугаар сарын 15-ий
        өдрөөс хүчин төгөлдөр үйлчилнэ.<br />
        <br />1.1“Бүүм Дийл” ХХК-ийн албан ёсны бүтээгдэхүүн “www.Topsale.mn”
        нь худалдааны цахим орон зайг бий болгож, худалдаа, үйлчилгээг
        цахимаар авах боломжийг олон нийтэд хүргэнэ.<br />
        <br />1.2 Үйлчилгээний нөхцөл нь цахим худалдааны системд Албан ёсны
        гэрээт борлуулагчаас бараа бүтээгдэхүүн, үйлчилгээг худалдах,
        Хэрэглэгч худалдан авахтай холбоотой үүсэж буй харилцааг
        зохицуулна.<br />
        <br />1.3 Үйлчилгээний нөхцөлд заагдсан нэр томьёог доор дурдсан
        утгаар ойлгоно. <br />Үүнд: <br />
        “Бид”, “Манай” гэдэг нь Бүүм Дийл ХХ компанийг; “Хэрэглэгч” гэж
        Үйлчилгээний нөхцөлийг хүлээн зөвшөөрч, “Boom”-г хэрэглэж буй иргэний
        эрх зүй бүрэн чадамжтай иргэн, хуулийн этгээдийг; Хэрэглэгч нь
        “Boom”-д нэвтэрч, бүртгүүлэхээс өмнө Үйлчилгээний нөхцөл, Нууцлалын
        бодлоготой бүрэн танилцах үүрэгтэй. Үйлчилгээний нөхцөл, Нууцлалын
        бодлоготой бүрэн танилцаж, эдгээр нөхцөл, бодлогод заасан нөхцөлүүдийг
        хүлээн зөвшөөрсөн тохиолдолд “Би хүлээн зөвшөөрч байна.” гэсэн товчийг
        идэвхжүүлснээр Хэрэглэгчийг зөвшөөрсөнд тооцно.<br />
        <br />
        1.4 Хэрэв Хэрэглэгч Үйлчилгээний нөхцөл, Нууцлалын бодлогыг хүлээн
        зөвшөөрөхгүй тохиолдолд хүлээн зөвшөөрөхөөс татгалзах эрхтэй.
        Татгалзсан тохиолдолд “Boom”-г зориулалтын дагуу бүрэн ашиглах
        боломжгүй болох үр дагавар үүсэхийг анхаарна уу.<br />
        <br />1.5 Үйлчилгээний нөхцөлийг хэрэгжилтэд “Бүүм Дийл” ХХК болон
        Хэрэглэгч нар нь хамтран хяналт тавина.
            </p>
          </div>
        </button>

        <button class="w-full px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between py-3 text-left font-semibold hover:bg-blue-200">
            <span class="h-fit">Хоёр. Хэрэглэгч болон бүртгүүлэх</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5 focus:h-3">
            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
          </div>
          <div class="max-h-0 overflow-hidden  group-focus:max-h-40 ">
            <p class="flex justify-start">Хэрэглэгчээр бүртгүүлэхдээ “Boom”-ийн Нэвтрэх хэсгийг сонгон “Нэвтрэх”
              болон “Бүртгүүлэх” гэсэн сонголтын аль нэгийг сонгож өөрийн цахим
              шуудангийн хаяг болон утасны дугаарыг илгээнэ. “Boom”-ээс Хэрэглэгчийн
              албан ёсны цахим хаяг болон гар утасны дугаар луу нэвтрэх нэг удаагийн
              нууц үгийг илгээнэ. Хэрэглэгч нэвтэрсний дараа нэвтрэх шинэ нууц үг
              болон өөрийн хувийн мэдээллийн аюулгүй байдлыг хангах үүрэгтэй.<br /><br />
              2.1 “Boom”-д цахим шуудангийн хаягаар бүртгүүлэхээс гадна өөрийн албан
              ёсны facebook хаягаар шууд бүртгүүлж, “Boom”-д нэвтрэх боломжтой.<br /><br />
              2.2 “Boom”-д Хэрэглэгчээр бүртгүүлснээр бараа бүтээгдэхүүн, үйлчилгээ
              захиалах, өөрийн захиалгыг хянах эрх үүснэ.<br /><br />
              2.3 Хэрэглэгч нь “Boom”-д нэвтрэх цахим шуудан болон нууц үгийг бусдад
              дамжуулахгүй байх, үүнтэй холбоотой учирч болох аливаа эрсдэлээс
              сэргийлэх үүрэгтэй. Энэхүү үүргээ биелүүлээгүй буюу хангалтгүй
              биелүүлсний улмаас өөрт болон бусдад учирсан аливаа хохирлыг Хэрэглэгч
              өөрөө бүрэн хариуцна.<br /><br />
              2.4 Хэрэглэгч нь өөрийн мэдээллийн үнэн зөв, бодит байдалд бүрэн
              хариуцлага хүлээнэ.<br /><br />
              2.5 “Topsale.mn”-н хэвийн ажиллагаа, түүний мэдээллийн аюулгүй байдал,
              мэдээллийн нууцлалыг “Бүүм Дийл” ХХК хариуцна.
             </p>
          </div>
        </button>

        <button class="h-fit px-3 group focus:outline-none w-full bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between py-3 text-left font-semibold hover:bg-blue-200">
            <span class="h-fit">Гурав. Захиалга</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
              <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden  group-focus:max-h-40">
            <p class="flex justify-start">
              3.1 Бид, БНСУ-д үйл ажиллагаа эрхэлдэг онлайн болон онлайн бус
              дэлгүүрүүд, нийлүүлэгчдээс хэрэглэгчийн сонгон захиалсан бараа
              бүтээгдэхүүнийг худалдан авч, тээвэрлэн үйлчилнэ.<br /><br />
              3.2 Захиалгын үйлчилгээ нь www.Topsale.mn захиалгат худалдааны нэгдсэн
              системээр захиалах бөгөөд хэрэглэгч захиалга өгснөөс эхлэн худалдан
              авалт, тээвэрлэлт, төлбөр төлөлт, барааг хүлээлгэн өгөх хүртэлх бүх
              үйл явц энэ системээр удирдагдана.<br /><br />
              3.3 Захиалгын үнийг хэрэглэгч зөвшөөрөн төлбөр хийгдсэнээс хойш 24
              цагийн дотор барааны захиалга хийгдэнэ.
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:invisible bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">Дөрөв. Үнэ</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
              <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden  group-focus:max-h-40">
            <p class="flex justify-start">
              4.1 Барааны үнийг сайтын захиалгын систем автоматаар тооцоолон
              гаргана.<br><br>
              4.2 Захиалгын үнэнд Солонгосоос Улаанбаатар хүртэлх тээврийн зардал
              орсон болно. Үүнд:<br>
              &nbsp; • БНСУ-д барааны үнэ<br>
              &nbsp; • Тухайн улсын татвар <br>
              &nbsp; • Тухайн барааны Тээврийн зуучийн компани хүртэлх хүргэлтийн үнэ <br>
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between py-3 text-left font-semibold hover:bg-blue-200">
            <span class="h-fit">Тав. Төлбөр</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
              <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
          </div>
            <div class="max-h-0 overflow-hidden group-focus:max-h-40">
              <p class="flex justify-start">
                  5.1 Хэрэглэгч бараа захиалгын үнийн 100 хувийг төлснөөр захиалгыг
                  баталгаажсан гэж үзэн худалдан авалтыг захиалгын журмын 3.3-т заасан
                  хугацаанд хийнэ.<br />
                  <br />5.2 Хэрэглэгчийн хийсэн захиалга бүр дахин давтагдашгүй
                  захиалгын дугаартай байх бөгөөд “Миний Бүртгэл” хэсгээс захиалгын
                  тухай дэлгэрэнгүй мэдээллийг харах боломжтой.<br />
                  <br />5.3 Бараа захиалгын үнэ автоматаар MNT (төгрөг)-р бодогдож
                  хийгдэх бөгөөд систем хөрвүүлэхдээ тухайн өдрийн KRW-ий Монгол банкны
                  бэлэн бус ханшаар тооцогдон хөрвүүлэгдэнэ.<br /><br />
                  5.4 Захиалгын төлбөрт таны барааны тээврийн төлбөр ороогүй бөгөөд та монголд буух үед төлөх шаардлагатай.
                </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">Зургаа. Бараа буцаалт </span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
              <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>

          </div>
          <div class="max-h-0 overflow-hidden  group-focus:max-h-40">
            <p class="flex justify-start">
              6.1 Хэрэглэгч бараа бүтээгдэхүүн, үйлчилгээний мэдээлэлтэй сайтар
              танилцаж, захиалгаа давхар нягтлах үүрэгтэй бөгөөд захиалгын төлбөрийг
              төлсөн бол тус захиалгыг дараах нөхцөлөөс бусад тохиолдолд буцаах,
              цуцлах боломжгүй <br /><br />6.2 Хэрэглэгч захиалга хийхдээ тус
              системд байгаа барааны дэлгэрэнгүй танилцуулга, мэдээллийг сайтар
              судлах зайлшгүй шаардлагатай. Хэрэглэгч тус барааны талаар сайтар
              мэдээлэл аваагүйгээс болж захиалга хүргэгдэн ирсний дараа захиалгыг
              буцаах хүсэлтийг “Boom” хүлээн авах, барааг буцаах боломжгүй.
              <br /><br />6.3 Цахим зээлээр худалдан авалт хийсэн хэрэглэгч
              захиалгаа өөрийн хүсэлтээр цуцлах нөхцөлд зээлийг судалсан үйл
              ажиллагаанд зарцуулагдсан зээлийн үйлчилгээний шимтгэлийг буцаан
              шилжүүлэх боломжгүй. <br /><br />6.4 Тухайн захиалга хийсэн сайт дээр
              тухайн бараа үлдэгдэлгүй болох, үнэ өөрчлөгдсөнөөс захиалга цуцлах
              зэрэг захиалагчаас үл шалтгаалж захиалга цуцалж буй тохиолдолд нийт
              төлбөрийг буцаан олгоно. <br /><br />6.5 Буцаагдсан бараанд ноогдох
              тээвэрлэлт, үйлчилгээний хөлс, бусад зардал нь буцаан олгогдохгүй ба
              барааны үндсэн үнээс нийлүүлэгч талаас нэхэмжилж болох зардлыг хассан
              дүнгээр нийлүүлэгчээс барааны төлбөр бүрэн буцан шилжиж орсон
              тохиолдолд хэрэглэгчид олгоно.
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">Долоо. Тээвэрлэлт, Бараа олголт</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
          </div>
          <div class="max-h-0 overflow-hidden  group-focus:max-h-40">
            <p>
              7.1 Тээвэрлэлт нь БНСУ дахь хүргэлт, БНСУ-аас Монгол хүртэлх
              тээвэрлэлт гэсэн 2 үндсэн үе шатаас бүрдэнэ.<br />
              <br />7.2 БНСУ дахь хүргэлт нь тухайн дэлгүүр, нийлүүлэгчийн ашиглаж
              буй дотоодын хүргэлтийн үйлчилгээгээр нийлүүлэгч хүргэлтийг бүрэн
              хариуцна.<br />
              <br />7.3 Монгол улс руу ачигдсанаас хойш хэвийн ажиллагаатай үед
              агаарын тээврээр захиалсан бол дунджаар 3-5 хоног, газрын тээврээр
              захиалсан бол 20-30 хоног дотор хэрэглэгчид хүрнэ.<br />
              <br />7.4 Захиалгыг хэрэглэгчид олгох үед хэрэглэгч бараа
              бүтээгдэхүүнийг сайтар шалган, эвдрэл гэмтлийг нягтлан үзсэний дараа
              гарын үсэг зурж, хүлээн авна. Барааг хэрэглэгч хүлээн авснаас хойш
              гарсан эвдрэл гэмтэл болон бусад асуудлуудад БИД хариуцлага хүлээхгүй.
              <br/><br />7.5 Бараа монголд буусан тохиолдолд 5.4 заасны дагуу тээврийн төлбөрийг
              төлөөгүй тохиолдолд хүргэлт явагдахгүй болно.
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">Найм. цахим зээлээр худалдан авалт хийх</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
              <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class=" flex justify-start">
              8.1 Та “Бүүм Дийл” ХХК болон Хаан банк хамтран санал болгож буй цахим
              зээлийн үйлчилгээнд хамрагдан бараа бүтээгдэхүүн, үйлчилгээг зээлээр
              худалдан авах боломжтой.<br />
              <br />8.2 “Boom” дээрх аль ч бараа бүтээгдэхүүн, үйлчилгээнээс зээлээр
              худалдан авах боломжтой бөгөөд зээлээр авах хэсгийг сонгож өөрийн
              мэдээллээ үнэн зөв бөглөх үүрэгтэй.<br />
              <br />8.3 Та зээлийн төлбөрөө гэрээнд заасан хуваарийн дагуу төлөх
              үүрэгтэй бөгөөд ийнхүү төлснөөр дараа дараагийн зээл авах эрх, боломж
              нэмэгдэх боломжтой. Харин зээлээ төлөөгүй тохиолдолд таны мэдээлэл
              Монгол Банкны зээлийн мэдээллийн санд бүртгэгдэж дахин өөр банк
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">Ес. Хэрэглэгчийн гомдол маргаан шийдвэрлэх</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class=" flex justify-start">
              9.1 Хэрэглэгч “Boom”-н үйл ажиллагаанд холбогдуулж санал хүсэлт,
              гомдол гаргах эрхтэй бөгөөд санал хүсэлт, гомдлыг цахим хэлбэрээр
              “Санал хүсэлт илгээх” форм бөглөж гаргана.<br>
              <br>9.2 Хэрэглэгч нэн тэргүүнд санал хүсэлт, гомдлоо дээр дурдсан
              хэлбэрээр буюу Topsale.mn-тэй шууд холбогдон гаргах бөгөөд “Бүүм Дийл”
              ХХК-ийн нэр хүнд болон үйл ажиллагаанд хүндэтгэлтэй хандаж компанийн
              нэр хүндэд халдахуйц байдлаар олон нийтийн хэрэгслээр мэдээлэл түгээх
              зэргээр хориглосон аливаа үйлдлийг гаргахгүй байх үүрэгтэй.<br>
              <br>9.3 Хэрэглэгчийн гомдлыг хүлээн авч формд үлдээсэн утасны
              дугаар, цахим хаягаар холбогдож хэр хугацаанд хэрхэн шийдэх тухай
              мэдэгдэнэ. Бид таны асуудлыг судлаад өгсөн хариу болон авсан арга
              хэмжээнд та сэтгэл хангалуун бус байгаа тохиолдолд та "Монгол Улсын шүүхэд хандаж маргааныг шийдвэрлүүлэх боломжтой".
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">Арав. Хариуцлага</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class=" flex justify-start">
              10.1 Хэрэглэгчийн сонгосон захиалгын бүтээгдэхүүнүүд нь САЙТ-тай
              хамааралгүй БНСУ-ын дэлгүүр, нийлүүлэгчийн бараа бүтээгдэхүүн тул
              тэдгээрийн чанар бусад үзүүлэлтүүдэд БИД хариуцлага хүлээхгүй.<br />
              <br />10.2 Дэлгүүрийн найдвартай байдал, бараа бүтээгдэхүүний сонголт,
              чанартай холбоотой асуудлыг хэрэглэгч бүрэн хариуцна.
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">Арван нэг. Хэрэглэгчийн мэдээлэл нууцлал</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class=" flex justify-start">
              11.1 Бүүм Дийл ХХ компани нь хэрэглэгчийн мэдээллийн нууцлалыг нэн
              тэргүүнд тавьж, халдашгүй байдлыг бүрэн хангаж ажиллана. Хэрэглэгчийн
              хувийн мэдээллийг цуглуулах, ашиглах, нээлттэй болгох талаар Бүүм Дийл
              ХХ компанийн Нууцлалын бодлого баримтаас уншиж танилцана уу. Та
              Topsale.mn вэбсайтад нэвтэрч, ашиглаж эхэлснээр энэхүү Нууцлалын
              бодлого, Үйлчилгээний нөхцөлийг тус тус дагаж мөрдөхөө хүлээн зөвшөөрч
              байна гэж үзнэ.
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">Арван хоёр. “BOOM”-н оюуны өмчтэй холбоотой эрхийг хамгаалах</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class=" flex justify-start">
              12.1 Цахим барааны тэмдэгтүүд нь “Бүүм Дийл” ХХК-ний өмч бөгөөд бараа
              бүтээгдэхүүний барааны тэмдгүүд нь Брэндүүдийн өмч болно. Энэхүү
              вэбсайтын лого, нэр, бүтэц, загвар, контентыг хуулах, олшруулах,
              дуурайх, бусад хэлбэрээр ашиглах болон бусад этгээдийн зүгээс ашиг
              олох зорилгоор ашиглахыг хориглоно.<br />
              <br />12.2 “Бүүм Дийл” ХХК-ийн оюуны өмчийн эрх зөрчигдсөн тохиолдолд
              холбогдох этгээдэд Оюуны өмчийн тухай хууль, Зөрчлийн тухай хууль,
              Эрүүгийн тухай хуульд заасан хариуцлага хүлээлгэнэ.
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">Арван гурав. Гэнэтийн болон давагдашгүй хүчин зүйл</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class=" flex justify-start">
              13.1 Гэнэтийн давагдашгүй хүчин зүйлсийн улмаас талуудын энэхүү
              үйлчилгээний нөхцөлд заасан үүргээ биелүүлээгүй буюу зохих ёсоор
              биелүүлээгүй бол нөгөө талдаа ажлын гурав хоногийн дотор цахим
              шуудангаар дамжуулан мэдэгдэх ба энэ тохиолдолд үүрэг гүйцэтгэх
              хугацаа нь энэхүү нөхцөл байдал үргэлжлэх хугацаагаар хойшлогдоно.<br />
              <br />13.2 Гэнэтийн давагдашгүй хүчин зүйлс бий болсон нь нэг сараас
              дээш хугацаагаар үргэлжилсэн тохиолдолд талууд асуудлыг харилцан
              зөвшилцөх замаар шийдвэрлэнэ.<br />
              <br />13.3 Гэнэтийн давагдашгүй хүчин зүйлс гэдэгт талуудын хараа
              хяналтаас гадуур болсон, урьдчилан таамаглах боломжгүй, урьдчилан
              сэргийлж, шинжлэх ухаан, техникийн ололтыг ашиглан даван гарах
              боломжгүй дараах саад тотгор тохиолдсоны улмаас талууд энэхүү
              Үйлчилгээний нөхцөлд заасан үүргээ биелүүлж чадахгүйд хүрэхийг
              ойлгоно. Үүнд: Зарласан болон зарлаагүй дайн, зэвсэгт мөргөлдөөн,
              бослого, гадаадын түрэмгийлэл, хорлон сүйтгэх ажиллагаа, хувьсгал;
              Байгалийн бүх төрлийн гамшиг /гал түймэр, газар хөдлөлт, хүчтэй хар
              салхи, шуурга, аянга цахилгаан, үер усны гамшиг зэрэг/ Төрийн албан
              тушаалтны хуулийн дагуух болон хууль бус үйлдэл, эс үйлдэл, эрх зүйн
              акт, тушаал, захирамж; Тэсрэлт, дэлбэрэлт, машин үйлдвэрлэлийн тоног
              төхөөрөмжийн эвдрэл, цахилгааны ноцтой гэмтэл; бүх төрлийн хязгаар
              хориг, өвчин тахал, хорио цээр, хариуцлагаас чөлөөлөгдөх хүсэлтэй
              талын аж ахуй нэгжид тохиолдсон ажил зогсолт, ажил хаялт; Программ
              хангамж, техник тоног төхөөрөмжийн эвдрэл гэмтэл, хакер халдлага
              зэрэг, үүнээс бусад талуудын хүсэл зоригоос үл хамаарах шалтгаануудыг
              ойлгоно.
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">Арван дөрөв. Гэрээ дуусгавар болгох</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class=" flex justify-start">
              14.1 Та энэхүү гэрээний аль нэг нөхцөлийг зөрчсөн тохиолдолд таны
              Topsale.mn-ий Үйлчилгээнд нэвтрэх эрх цуцлагдана.
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">Арван тав. Гаалийн татвар</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class=" flex justify-start">
              15.1 Хэрэглэгч та гаалийн татварын чөлөөлөлтөд орохын тулд: 1 ижил
            төрлийн бараанаас 2-оос илүүгүй тоогоор захиалах, Хилээр нэвтрүүлэхийг
            хориглоогүй байх, Барааны дүн, тээврийн зардлын нийлбэр дүн 4,200,000
            төгрөгөөс бага байх. /зөөврийн компьютерын хувьд 12,600,000 төгрөг
            хүртэл байж болно. -Таны нийт төлсөн төлбөр 4,200,000 төгрөгөөс их
            /зөөврийн компьютерын хувьд 12,600,000 төгрөгөөс их/ байх, нэг ижил
            төрлийн бараанаас 2-с дээш тоогоор захиалах үед гаалийн татвар
            ногдуулах тул энэ тохиолдолд хэрэглэгч гаалийн баталгаат агуулахаас
            өөрийн биеэр очин бараагаа авах ба бидний зүгээс гаалийн бүрдүүлэлтэд
            шаардагдах материалуудаар хангах үүрэгтэй. -Мөн зарим тохиолдолд Улс
            хоорондын шуудан илгээмжийн гаалийн газраас гаалийн татвар ногдуулах
            зорилгогүйгээр улс хоорондын шуудан илгээмжүүдээс санамсаргүй байдлаар
            сонгон хяналт, шалгалт явуулдаг. Энэ тохиолдолд хэрэглэгч гаалийн
            баталгаат агуулахаас өөрийн биеэр очин бараагаа авах ба бидний зүгээс
            гаалийн бүрдүүлэлтэд шаардагдах материалуудаар хангах үүрэгтэй. -Ачаа
            барааг гаалийн баталгаат агуулахад хадгалагдаж байх хугацаанд
            хуримтлагдсан хадгалалтын төлбөрийг хэрэглэгч төлөх үүрэгтэй.
            </p>
          </div>
        </button>

        <button class="w-full h-fit px-3 group focus:outline-none bg-white shadow-sm rounded-lg hover:shadow-md">
          <div class="flex items-center justify-between text-left py-3 font-semibold hover:bg-blue-200">
            <span class="h-fit">Арван зургаа. Бусад</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-5 h-5">
            <path strokeLinecap="round" strokeLinejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
          </div>
          <div class="max-h-0 overflow-hidden group-focus:max-h-40">
            <p class=" flex justify-start">
              16.1 Бүүм Дийл ХХК нь Үйлчилгээний нөхцөлд өөрчлөлт оруулах эрхтэй бөгөөд
              өөрчлөлт оруулсан тохиолдолд тухай бүр Topsale.mn сайт дээр нийтэд нээлттэй
              нийтлэх бөгөөд Хэрэглэгч нь танилцах үүрэг хүлээнэ.<br>
              16.2 Захиалгын бараа бүтээгдэхүүн дууссан тохиолдолд хэрэглэгчид эргэн
              мэдэгдэх ба хэрэглэгч захиалгыг өөр бүтээгдэхүүнээр солих эсвэл тухайн барааны
              захиалгыг цуцалж болно.<br>
              16.3 Бид үйлчилгээний шинэчлэл хийх тохиолдолд урьдчилан мэдэгдэлгүйгээр
              Topsale.mn-ийн Үйлчилгээний нөхцөлийг хэсэгчилж эсвэл бүхэлд нь өөрчлөх, түр
              хугацаагаар эсвэл бүр мөсөн зогсоож болно.<br>
              16.4 Бид гэрээний нөхцөлийг дангаараа өөрчлөх, сайжруулах эрхтэй. Үйлчилгээний
              нөхцөлд өөрчлөлт хийсэн даруйд шинэчилсэн нөхцөлийг Topsale.mn вэбсайт дээр байршуулна. Шинэчилсэн нөхцөл хүчин төгөлдөр болсон өдрөөс хойш Бүүм
              Үйлчилгээг ашигласнаар шинэ нөхцөлийг хүлээн зөвшөөрсөнд тооцогдоно.
            </p>
          </div>
        </button>
      </div>
    </section>
  </div>
</template>

<script>
export default {

}
</script>

<style>
.max-h-0 {
    max-height: 0;
}

.group:focus .group-focus\:max-h-40 {
    max-height: fit-content;
  text-align: start;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 15px;
}
.ul{
  display:list-item;
}
</style>
