<template>
  <div class="grid grid-cols-2 gap-5 p-5">
    <div
      v-for="category in categories"
      :key="category.id"
      class="col-span-1 flex justify-center"
    >
      <button class="rounded-full py-2 px-4 bg-white shadow-lg w-full h-12">
        <router-link
          :to="{ name: 'category-id', params: { id: category._id } }"
          class="flex justify-center gap-3 items-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-shop"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"
            />
          </svg>
          <p class="text-center text-xs">{{ category.name }}</p>
        </router-link>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      categories: [],
    };
  },
  async fetch() {
    let responseCategory = await this.$axios.post("/api/auth/category", {
      featured_menu: true,
      status: 1,
    });
    this.categories = responseCategory.data;

    for (let category of this.categories) {
      category.isActive = false;
      let response = await this.$axios.post(
        "/api/auth/category/subcategory/" + category._id,
        { status: 1 }
      );
      Object.assign(category, { subcategory: response.data });
    }
  },
};
</script>

<style></style>
