<template>
  <div>
    <Homebanner />

    <div class="grid">
      <Homecards :products="products" />
    </div>
    <div v-show="haragd" class="mx-4 md:mx-52 grid grid-cols-6 gap-4">
      <div v-for="hello in 36" :key="hello" class="cols-span-3 md:col-span-1">
        <div class="bg-footer animate-pulse h-64 w-full rounded-md"></div>
      </div>
    </div>
  </div>
</template>

<script>
import Mainbanner from "../components/widgets/carausel/mainbanner.vue";
import Bannercarousel from "../components/widgets/carausel/bannercarousel.vue";
import Gridfeature from "../components/widgets/gridfeature.vue";
import Homepagebanner from "../components/homepagebanner.vue";
import Homebanner from "../components/homebanner.vue";
import Homecards from "../components/smart/homecards.vue";
import Smartcategory from "../components/smart/smartcategory.vue";

export default {
  data: function () {
    return {
      isFetched: false,
      products: [],
      currency: {},
      count: 0,
      sort: "sale",
      filter: {},
      isLoad: false,
      limit: 30,
      skip: 0,
      haragd: true,
    };
  },
  methods: {
    async onSort(value) {
      let response = await this.$axios.post("/api/auth/public/product", {
        sort: value,
        limit: this.limit,
        skip: this.skip,
        filter: this.filter,
        client: "smartstore",
      });
      this.skip = this.skip + this.limit;
      this.sort = value;
      if (response.status == 200) {
        this.products = response.data["products"];
        this.currency = response.data["currency"];
        this.count = response.data["count"];
      }
    },
    async updateFilter(filter) {
      this.skip = 0;
      this.limit = 30;
      let response = await this.$axios.post("/api/auth/public/product", {
        sort: this.sort,
        limit: this.limit,
        skip: this.skip,
        client: "smartstore",
      });
      if (response.status == 200) {
        this.products = response.data["products"];
        this.currency = response.data["currency"];
        this.count = response.data["count"];
      }
    },
    async loadmore() {
      if (!this.isLoad) {
        this.isLoad = true;
        return;
      }
      if (this.products.length !== 0) {
        let response = await this.$axios.post("/api/auth/public/product", {
          sort: this.sort,
          limit: this.limit,
          skip: this.skip,
          filter: this.filter,
          client: "smartstore",
        });
        this.skip = this.skip + this.limit;
        if (response.status == 200) {
          let products = response.data["products"];
          for (let product of products) {
            this.products.push(product);
          }
        }
      }
    },
  },
  async fetch() {
    let response = await this.$axios.post("/api/auth/public/product", {
      limit: this.limit,
      skip: this.skip,
      client: "smartstore",
    });
    this.skip = this.skip + this.limit;
    if (response.status == 200) {
      this.products = response.data["products"];
      this.currency = response.data["currency"];
      this.count = response.data["count"];
    }
    this.isFetched = true;
    this.haragd = false;
  },
  layout: "default",
  components: {
    Mainbanner,
    Bannercarousel,
    Gridfeature,
    Homepagebanner,
    Homebanner,
    Homecards,
    Smartcategory,
  },
};
</script>
