<template>
  <div class="flex my-52 justify-center">
    <div class="bg-white w-full md:w-1/3 rounded-3xl shadow-lg p-20">
      <div class="text-2xl w-full text-center font-medium">Нэвтрэх</div>

      <input
        class="w-full p-2 my-2 rounded border border-gray-300"
        type="email"
        v-model="user.identity"
        placeholder="Утасны дугаараа оруулна уу"
        :disabled="isSubmit"
      />
      <div class="text-sm" v-if="isSubmit">Буцах</div>

      <button
        @click="onLogin"
        v-if="!isSubmit"
        class="w-full bg-primary text-white rounded p-2 my-2 text-center"
      >
        Үргэлжлүүлэх
      </button>

      <input
        v-if="isSubmit"
        class="w-full p-2 my-2 rounded border border-gray-300"
        type="number"
        v-model="user.verified_token"
        placeholder="Баталгаажуулах код оруулна уу"
      />

      <button
        @click="onVerify"
        v-if="isSubmit"
        class="w-full bg-primary text-white rounded p-2 my-2 text-center"
      >
        Нэвтрэх
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      show: false,
      user: {
        identity: "",
        verified_token: "",
      },
      isSubmit: false,
    };
  },
  methods: {
    async onLogin() {
      try {
        this.isSubmit = true;
        let response = await this.$axios.post("/api/auth/loginphone", {
          identity: this.user.identity,
        });
        this.$toast.success("Таны утас руу SMS баталгаажуулах код илгээлээ.");
      } catch (e) {
        this.isSubmit = false;
        console.log(e);
      }
    },

    async onVerify() {
      try {
        this.isSubmit = true;
        let response = await this.$axios.post("/api/auth/loginverify", {
          identity: this.user.identity,
          verified_token: this.user.verified_token,
        });
        this.$auth.strategy.token.set(response.data.token);
        this.$auth.strategy.token.sync();
        this.$auth.$storage.setUniversal("user", response.data.user, true);
        this.$router.go();
      } catch (e) {
        this.isSubmit = false;
        console.log(e);
      }
    },

    async loginFacebook() {
      window.location.href = "https://api.topsale.mn/api/auth/facebook";
    },
    goHome() {
      window.location.replace("https://www.topsale.mn");
    },
  },
  created() {
    if (this.$route.query.token) {
      this.$auth.strategy.token.set(this.$route.query.token);
      this.$router.push("/cart");
    }
    if (this.$auth.loggedIn) {
      this.$router.push("/cart");
    }
  },
};
</script>
