<template>
  <div class="flex h-full">
    <div class="flex w-full md:w-1/2 h-screen px-24 bg-gray-100">
      <div class="m-auto">
        <div class="text-2xl w-full text-center font-medium">Бүртгүүлэх</div>

        <input
          class="w-full p-2 my-2 rounded border border-gray-300"
          v-model="data.identity"
          placeholder="Та И-Мэйл хаягаа оруулна уу"
        />

        <input
          class="w-full p-2 my-2 rounded border border-gray-300"
          type="password"
          name="password"
          v-model="data.password"
          placeholder="Нууц үг оруулна уу"
        />

        <input
          class="w-full p-2 my-2 rounded border border-gray-300"
          type="password"
          name="confirmPassword"
          v-model="data.confirm_password"
          placeholder="Нууц үг давтан оруулна уу"
        />

        <button
          @click="onRegister"
          class="w-full bg-primary text-white rounded p-2 my-2 text-center"
        >
          Бүртгүүлэх
        </button>
      </div>
    </div>

    <div
      class="hidden w-1/2 md:block relative bg-cover bg-clip-content min-h-screen"
      :style="{ backgroundImage: `url(${backgroundUrl})` }"
    >
      <button
        @click="onClose"
        class="rounded-full bg-gray-300 absolute top-2 right-2 p-3"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
  </div>
</template>

<script>
import backgroundUrl from "~/assets/img/banner.jpeg";
export default {
  data: function () {
    return {
      backgroundUrl,
      data: {
        identity: "",
        password: "",
        confirmPassword: "",
      },
    };
  },
  layout: "auth",
  methods: {
    async onRegister() {
      if (
        this.data.identity === "" ||
        this.data.password === "" ||
        this.data.confirm_password === ""
      ) {
        this.$toast.error("Бүх талбарыг бөглөнө үү");
        return;
      }

      if (!this.validateIdentity(this.data.identity)) {
        // this.$toast.error("Утасны дугаар эсвэл и-мэйл хаяг оруулна уу");
        this.$toast.error("Зүгээр бүртгүүлчиж чадку байна уу аййн");
        return;
      }

      if (this.data.password != this.data.confirm_password) {
        this.$toast.error("Нууц үг таарахгүй байна.");
        return;
      }
      try {
        let response = await this.$axios.post("/api/auth/register", this.data);
        if (response.status == 201) {
          this.$toast.success("Амжилттай бүртгэл үүслээ");
          this.$router.push("/login");
        } else {
          this.$toast.error("Алдаа гарлаа. Та дахин оролдоно уу");
        }
      } catch (e) {
        this.$toast.error("Алдаа гарлаа. Та дахиа оролдоно уу");
      }
    },
    validateIdentity(email) {
      var emailRegex =
        /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
      var phoneRegex = /^(\+91-|\+91|0)?\d{8}$/;
      return emailRegex.test(email) || phoneRegex.test(email);
    },
    onClose() {
      this.$router.push("/");
    },
  },
};
</script>
