<template>
  <div class="md:mx-52 md:mt-20">
    <div v-if="!isLoad">
      <input
        class="w-full rounded bg-white m-4 p-2 md:hidden"
        placeholder="Хайх зүйлээ бичнэ үү"
        v-on:keyup.enter="onEnter"
      />
    </div>
    <ListFeature
      v-if="isFetched"
      :name="'Хайлт: ' + search"
      :products="products"
      :currency="currency"
      :totalCount="totalCount"
      @loadmore="loadmore"
    />
    <div
      v-if="!isFetched"
      class="h-screen animate-pulse bg-white rounded-2xl my-2 p-4"
    >
      <div class="md:grid grid-cols-5 hidden gap-5">
        <div v-for="item in 5" :key="item" class="col-span-1">
          <div
            v-for="jij in 2"
            :key="jij"
            class="rounded-lg bg-loader animate-pulse h-64 my-4"
          ></div>
        </div>
      </div>
      <div class="grid grid-cols-2 md:hidden gap-5">
        <div v-for="item in 2" :key="item" class="col-span-1">
          <div
            v-for="jij in 2"
            :key="jij"
            class="rounded-lg bg-loader animate-pulse h-64 my-4"
          ></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ListFeature from "../components/widgets/page/pagelistfeature.vue";
export default {
  data: function () {
    return {
      products: [],
      currency: {},
      search: "",
      pagenum: 1,
      totalCount: 0,
      isLoad: true,
      isFetched: false,
    };
  },
  async fetch() {
    this.search = this.$route.query.q;
    this.isFetched = true;
    let response = await this.$axios.post("/api/auth/public/product/search", {
      search: this.$route.query.q,
      skip: 0,
      limit: 50,
      client: "smartstore",
    });
    if (response.status == 200) {
      this.products = response.data["products"];
      this.currency = response.data["currency"];
    }
  },
  methods: {
    async loadmore() {
      this.search = this.$route.query.q;
      let response = await this.$axios.post("/api/auth/public/product/search", {
        search: this.$route.query.q,
        skip: this.pagenum,
        limit: 50,
        client: "smartstore",
      });
      if (response.status == 200) {
        this.pagenum = this.pagenum + 1;
        this.products.push(...response.data["products"]);
        this.currency = response.data["currency"];
      }
    },
    async getSearch() {
      this.pagenum = 1;
      this.search = this.$route.query.q;
      let response = await this.$axios.post("/api/auth/public/product/search", {
        search: this.$route.query.q,
        status: 0,
        client: "smartstore",
      });
      if (response.status == 200) {
        this.products = response.data["products"];
        this.currency = response.data["currency"];
      }
    },
    onEnter() {
      // this.$router.push({
      //   path: "/search",
      //   query: { q: this.search },
      // });
      this.$router.go("/search?q=" + this.search);
      this.$router.reload();
    },
    async toSearch(keyword, count) {
      let token = localStorage.getItem("user_token");
      let responseSearch = await this.$axios.post("/api/auth/search/new", {
        keyword: keyword,
        user_token: token,
        result: count,
      });
    },
  },
  computed: {
    getFullPath() {
      return this.$route.fullPath;
    },
  },
  watch: {
    getFullPath() {
      this.getSearch();
    },
  },
  components: {
    ListFeature,
  },
};
</script>
