<template>
  <div
    class="bg-gray-200 font-sans h-auto w-full flex flex-row justify-center items-center pt-14 md:pt-0 my-24"
  >
    <div class="card w-3/4 mx-auto bg-white shadow-xl">
      <img
        class="w-32 mx-auto rounded-full -mt-20 border-8 border-white"
        src="https://avatars.githubusercontent.com/u/75427678?v=4"
        alt=""
      />
      <div class="text-center mt-2 text-3xl font-medium" v-if="user">
        {{ user.displayName ? user.displayName : user.firstname }}
      </div>
      <div class="text-center mt-2 font-light text-sm" v-if="user">
        {{ user.identity }}
      </div>
      <div class="flex justify-center gap-6 mt-10 mx-4">
        <button
          :class="
            person == 1 ? 'bg-primary shadow-2xl' : 'text-black shadow-xl'
          "
          class="rounded-lg p-3 text-white"
          @click="person = 1"
        >
          Хэрэглэгчийн мэдээлэл
        </button>
        <button
          :class="
            person == 0 ? 'bg-primary shadow-2xl' : 'text-black shadow-xl'
          "
          class="rounded-lg p-3 text-white"
          @click="person = 0"
        >
          Захиалгын мэдээлэл
        </button>
      </div>
      <div v-if="person == 1">
        <Personal />
      </div>
      <div v-else>
        <Order />
      </div>
    </div>
  </div>
</template>

<script>
import Personal from "../components/tabs/personal.vue";
import Order from "../components/tabs/order.vue";
export default {
  data() {
    return {
      person: 1,
    };
  },
  computed: {
    user() {
      return this.$auth.user;
    },
  },
  components: { Personal, Order },
};
</script>

<style></style>
