<template>
  <router-link
    :to="{
      name: 'product-slug',
      params: { slug: product.slug ? product.slug : product.id },
      query: { elevenst_id: product.id ? product.id : null },
    }"
    class="transform transition duration-300 hover:scale-102 relative shadow p-2 hover:shadow-lg overflow-hidden"
  >
    <div class="relative">
      <img v-if="product.image" :src="product.image.small" />
      <div
        class="absolute rounded bg-primary text-white text-bold top-3 left-3 px-2"
      >
        <div v-if="product.you_save_rate > 0">{{ product.you_save_rate }}%</div>
      </div>
    </div>
    <div v-if="product.brand" class="capitalize font-roboto font-extrabold">
      {{ product.brand.name }}
    </div>

    <div class="truncate font-roboto font-bold text-appleblack">
      {{ product.en_name }}
    </div>
    <div class="capitalize font-roboto text-xs font-bold text-gray100">
      hello
    </div>
    <div class="flex justify-start gap-2">
      <div class="flex justify-start">
        <div class="text-primary font-price font-extrabold">
          {{ formatPrice(product.selling_price, product.currency) }}
        </div>
      </div>
      <div class="flex justify-start">
        <div class="line-through font-thin opacity-50 font-price">
          {{ formatPrice(product.price, product.currency) }}
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
    },
    currency: {
      type: Object,
    },
    category: {
      type: Object,
    },
  },
  methods: {
    formatPrice(value, currency) {
      let currentVal = parseFloat(this.currency[currency]) * parseInt(value);
      let val = (currentVal / 1).toFixed(0).replace(".");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "₮";
    },
  },
};
</script>
