<template>
  <div
    class="p-3 grid grid-cols-5 gap-5 shadow-md my-5 rounded-lg items-center"
  >
    <div class="col-span-5 md:col-span-1">
      <div class="text-semibold">
        <h5 class="text-xs">НЭР</h5>
        <!-- <strong
          >{{ $moment(order.createdAt).format("YYYY-MM-DD HH:mm") }}
        </strong> -->
        <strong>
          {{ product.presentation_name }}
        </strong>
      </div>
    </div>
    <div class="col-span-5 md:col-span-1">
      <div>
        <h5 class="text-xs">ТОО</h5>
        <strong class="text-bold">{{ product.qty }}</strong>
      </div>
    </div>
    <div class="col-span-5 md:col-span-1">
      <h5 class="text-xs">ҮНЭ</h5>
      <div class="flex text-red">
        <p>{{ formatPrice(product.final_price) }}</p>
      </div>
    </div>
    <div class="col-span-5 md:col-span-1">
      <img v-if="product.image" :src="product.image.small" class="w-12 mr-2" />
    </div>
    <div class="col-span-5 md:col-span-1 flex justify-between">
      <div>
        <h5 class="text-xs">НИЙТ</h5>
        <strong>{{ formatPrice(order.final_total) }}</strong>
      </div>
      <!-- <router-link :to="{ name: 'order-id-detail', params: { id: order._id } }">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          strokeWidth="{1.5}"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
          />
        </svg>
      </router-link> -->
    </div>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
    },
    order: {
      type: Object,
    },
  },
  data() {
    return {
      date: "2022/09/25",
      register: "ZUNA0925",
      mode: "Цуцлагдсан",
      price: "1000$",
    };
  },
  methods: {
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " ₮";
    },
  },
};
</script>

<style></style>
