<template>
  <router-link
    :to="{
      name: 'product-slug',
      params: { slug: product.slug },
    }"
    class="transform transition duration-300 hover:scale-102 relative shadow p-2 hover:shadow-lg overflow-hidden"
  >
    <div class="relative">
      <img v-if="product.image" :src="product.image.large" />
      <!-- <div
        class="absolute rounded bg-primary text-white text-bold top-3 right-3 px-2"
      >
        <div>50%</div>
      </div> -->
    </div>

    <div class="truncate font-roboto font-bold text-appleblack">
      {{ product.presentation_name }}
    </div>
    <div class="capitalize font-roboto text-xs font-bold text-gray100">
      {{ product.en_name }}
    </div>
    <div class="flex justify-start gap-2">
      <div class="flex justify-start">
        <div class="text-primary font-price font-extrabold">
          {{ formatPrice(product.selling_price) }}
        </div>
      </div>
      <div class="flex justify-start">
        <div class="line-through font-thin opacity-50 font-price">
          {{
            product.price > product.selling_price
              ? formatPrice(product.price)
              : ""
          }}
        </div>
      </div>
    </div>
  </router-link>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
    },
  },
  methods: {
    formatPrice(value) {
      let val = (value / 1).toFixed(0).replace(".");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "₮";
    },
  },
};
</script>
