<template>
  <div class="p-2 md:p-10">
    <!-- <Pagebanner :image="category.cover" /> -->
    <div class="grid grid-cols-4 gap-5">
      <div class="col-span-4 md:col-span-1 hidden md:block">
        <Categoryside />
      </div>
      <div class="col-span-4 md:col-span-3">
        <button class="flex md:hidden p-2 shadow-sm rounded-lg bg-white">
          <router-link to="/" class="flex justify-center items-center"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-arrow-bar-left h-4 w-4"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"
              />
            </svg>
            <p class="text-sm font-semibold text-appleblack">БУЦАХ</p>
          </router-link>
        </button>
        <Categoriestop class="block md:hidden" />

        <ListFeature
          v-if="isFetched"
          :name="category.name ? category.name : 'Бүтээгдэхүүн'"
          :products="products"
          :currency="currency"
          @loadmore="loadmore"
          :totalCount="totalCount"
          :stats="stats"
        />
        <div
          v-if="!isFetched"
          class="h-full animate-pulse bg-loader rounded-2xl my-2"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
import Pagebanner from "../../../components/widgets/page/pagebanner.vue";
import ListFeature from "../../../components/widgets/page/pagelistfeature.vue";
import Categoryside from "../../../components/layout/categoryside.vue";
import Categoriestop from "../../../components/layout/categoriestop.vue";

export default {
  props: {
    parent: {
      type: Object,
    },
  },
  components: {
    Pagebanner,
    ListFeature,
    Categoryside,
    Categoriestop,
  },
  data: function () {
    return {
      products: [],
      currency: {},
      category: {},
      sort: "sale",
      isLoad: false,
      limit: 5,
      skip: 0,
      stats: {},
      totalCount: 0,
      isFetched: false,
    };
  },
  methods: {
    async getCategory(name, firstFetch) {
      let responseEcommerce = await this.$axios.post(
        "/api/auth/ecommerce/search11st",
        {
          search: name,
          pageSize: this.limit,
          pagenum: this.skip,
          translate: true,
        }
      );
      this.skip = this.skip + 1;
      this.products.push(...responseEcommerce.data["products"]);
      this.currency = responseEcommerce.data["currency"];
      if (firstFetch == true) {
        this.totalCount =
          parseInt(this.totalCount) + parseInt(responseEcommerce.data["count"]);
      }
    },
    async loadmore() {
      if (this.isFetched) {
        if (this.category.elevenst_id) {
          this.getCategory(this.category.original_name, true);
        }
      }
      // if (!this.isLoad) {
      //   this.isLoad = true;
      //   return;
      // }
      // if (this.products.length !== 0) {
      //   let response = await this.$axios.post("/api/auth/public/product", {
      //     category: this.$route.params.id,
      //     sort: this.sort,
      //     limit: this.limit,
      //     skip: this.skip,
      //   });
      //   this.skip = this.skip + this.limit;
      //   if (response.status == 200) {
      //     let products = response.data["products"];
      //     for (let product of products) {
      //       this.products.push(product);
      //     }
      //   }
      // }
    },
  },
  async fetch() {
    let responseCategory = await this.$axios.post(
      "/api/auth/category/" + this.$route.params.id,
      {}
    );
    if (responseCategory.status == 200) {
      this.category = responseCategory.data;
      if (this.category.elevenst_id) {
        this.getCategory(this.category.original_name, true);
      }
    }
    // let response = await this.$axios.post("/api/auth/public/product", {
    //   category: this.$route.params.id,
    //   limit: this.limit,
    //   skip: this.skip,
    // });
    // if (response.status == 200) {
    //   this.skip = this.skip + this.limit;
    //   this.products.push(...response.data["products"]);
    //   this.currency = response.data["currency"];
    // }
    this.isFetched = true;
  },
  head() {
    let category = this.category;
    let image = "";
    if (category && category.image) {
      image = category.image;
    }
    return {
      title: category.name,
      meta: [
        {
          hid: "description",
          name: "description",
          content: category.name,
        },
        {
          hid: "og:image",
          property: "og:image",
          content: image,
        },
      ],
    };
  },
};
</script>
