<template>
  <div
    class="
      flex
      my-3
      relative
      justify-between
      py-4
      border
      rounded-md
      border-gray100
    "
    v-if="product.product"
  >
    <div class="flex-shrink-0 md:px-2">
      <img
        :src="product.product.image.small"
        class="w-20 h-20 rounded-md object-center object-cover"
      />
    </div>

    <div class="flex-1">
      <div
        class="text-gray100 capitalize text-sm font-roboto"
        v-if="product.product.brand"
      >
        {{ product.product.brand.name }}
      </div>
      <div class="font-bold font-roboto">
        {{ product.product.en_name }}
      </div>
      <div class="text-gray100 font-roboto text-sm">
        Загвар:
        {{ getSelectVarient(product.varient_id, product.product.variants).sku }}
      </div>
      <div
        v-if="product.product.stock"
        class="text-sm font-roboto text-gray100"
      >
        Үлдэгдэл: {{ product.product.stock }}
      </div>
    </div>

    <button class="absolute top-2 right-2" @click="onRemove">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#7F8487"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>

    <div class="absolute bottom-2 right-2">
      <div class="flex items-center">
        <div class="text-sm text-gray100 mx-1">
          {{
            formatPrice(
              getSelectVarient(product.varient_id, product.product.variants)
                .selling_price,
              getSelectVarient(product.varient_id, product.product.variants)
                .currency
            )
          }}
        </div>
        <div class="text-sm text-gray100 mx-1">x</div>
        <div class="text-sm text-gray100 mx-1">
          {{ product.qty }}
        </div>
        <div class="text-sm text-gray100 mx-1">=</div>
        <div class="font-price font-bold">
          {{
            formatPrice(
              getSelectVarient(product.varient_id, product.product.variants)
                .selling_price * product.qty,
              getSelectVarient(product.varient_id, product.product.variants)
                .currency
            )
          }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    product: {
      type: Object,
    },
    currency: {
      type: Object,
    },
    cart: {
      type: Object,
    },
  },
  methods: {
    getSelectVarient(id, varients) {
      let result = {};
      for (let varient of varients) {
        if (varient._id === id) {
          result = varient;
        }
      }
      return result;
    },
    onRemove() {
      let carts = JSON.parse(JSON.stringify(this.cart));
      let products = carts.products.filter((a) => a._id !== this.product._id);
      Object.assign(carts, { products: products });
      this.$store.dispatch("cart/removeProduct", carts);
    },
    onMinusQty() {
      let carts = JSON.parse(JSON.stringify(this.cart));
      if (this.product.qty > 1) {
        for (let product of carts.products) {
          if (product._id === this.product._id) {
            product.qty = product.qty - 1;
          }
        }
        this.$store.dispatch("cart/changeQty", carts);
      }
    },
    onAddQty() {
      let carts = JSON.parse(JSON.stringify(this.cart));
      for (let product of carts.products) {
        if (product._id === this.product._id) {
          product.qty = product.qty + 1;
        }
      }
      this.$store.dispatch("cart/changeQty", carts);
    },

    formatPrice(value, currency) {
      let currentVal = parseFloat(this.currency[currency]) * parseInt(value);
      let val = (currentVal / 1).toFixed(0).replace(".");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "₮";
    },
  },
};
</script>