<template>
  <div class="">
    <div class="mt-8 font-roboto text-xl font-extrabold text-center">
      Захиалгын мэдээлэл
    </div>
    <div class="font-robot text-sm text-center" v-if="allCart.products">
      ({{ allCart.products.length }} бараа)
    </div>

    <div class="my-4">
      <div
        class="bg-white rounded my-2 p-3"
        v-for="product in allCart.products"
        :key="product._id"
      >
        <div class="text-sm font-roboto font-bold truncate">
          {{ product.product.en_name }}
        </div>
        <div class="flex text-xs text-gray100 font-roboto justify-end">
          тоо ширхэг: {{ product.qty }}
        </div>
        <div class="flex justify-end font-bold font-roboto">
          <!-- <div></div> -->
          <div class="font-price text-sm">
            {{
              formatPrice(
                getSelectVarient(product.varient_id, product.product.variants)
                  .selling_price * product.qty,
                getSelectVarient(product.varient_id, product.product.variants)
                  .currency
              )
            }}
          </div>
        </div>
      </div>
    </div>

    <hr />
    <div class="my-2">
      <div class="text-sm font-roboto text-gray100">
        Хямдрал: {{ formatPrice(you_save, "mnt") }}
      </div>
      <div class="mt-2 font-bold text-lg">
        Нийт: {{ formatPrice(total, "mnt") }}
      </div>
    </div>
    <hr class="my-2" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: {
    page: {
      type: String,
    },
    currency: {
      type: Object,
    },
  },
  methods: {
    getSelectVarient(id, varients) {
      let result = {};
      for (let varient of varients) {
        if (varient._id == id) {
          result = varient;
        }
      }
      return result;
    },
    formatPrice(value, currency) {
      try {
        let currentVal = parseFloat(this.currency[currency]) * parseInt(value);
        let val = (currentVal / 1).toFixed(0).replace(".");
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "₮";
      } catch (e) {}
    },
  },
  computed: {
    ...mapGetters("cart", ["allCart", "subtotal", "total", "you_save"]),
  },
};
</script>
