<template>
  <div class="flex justify-center gap-24">
    <div class="flex items-center mb-14">
      <div class="rounded-full bg-primary p-3 border-4 shadow-lg border-white">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#fff"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
          />
        </svg>
      </div>

      <div class="ml-4">
        <div class="text-lg font-roboto font-bold">Миний сагс</div>
        <div class="text-gray100 text-sm font-roboto">Алхам 1</div>
      </div>
    </div>
    <div class="flex items-center mb-14">
      <div
        :class="
          page === 'payment' || page === 'summary'
            ? 'bg-primary'
            : 'bg-gray100 text-opacity-50'
        "
        class="rounded-full p-3 border-4 shadow-lg border-white"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#fff"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
          />
        </svg>
      </div>

      <div class="ml-4">
        <div class="text-lg font-roboto font-bold">Төлбөр төлөх</div>
        <div class="text-gray100 text-sm font-roboto">Алхам 2</div>
      </div>
    </div>
    <div class="flex items-center mb-14">
      <div
        :class="
          page === 'summary' ? 'bg-primary' : 'bg-gray100 text-opacity-50'
        "
        class="rounded-full p-3 border-4 shadow-lg border-white"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#fff"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z"
          />
        </svg>
      </div>

      <div class="ml-4">
        <div class="text-lg font-roboto font-bold">Захиалга</div>
        <div class="text-gray100 text-sm font-roboto">Алхам 3</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    page: {
      type: String,
    },
  },
};
</script>
